a {
    color: #5baaef
}

    a:hover {
        color: #062246
    }

    a:focus {
        color: #062246
    }

    a:active {
        color: #cc3e1d
    }

html .text-color-primary, html .text-primary {
    color: #5baaef !important
}

html .text-color-hover-primary:hover, html .text-hover-primary:hover {
    color: #5baaef !important
}

html .text-color-tertiary, html .text-tertiary {
    color: #eaeff3 !important
}

html .text-color-hover-tertiary:hover, html .text-hover-tertiary:hover {
    color: #eaeff3 !important
}

html .text-color-dark, html .text-dark {
    color: #212529 !important
}

html .text-color-hover-dark:hover, html .text-hover-dark:hover {
    color: #212529 !important
}

html .text-color-light, html .text-light {
    color: #fff !important
}

html .text-color-hover-light:hover, html .text-hover-light:hover {
    color: #fff !important
}

html .bg-color-primary, html .bg-primary {
    background-color: #5baaef !important
}

html .bg-color-hover-primary:hover, html .bg-hover-primary:hover {
    background-color: #5baaef !important
}

html .bg-color-tertiary, html .bg-tertiary {
    background-color: #eaeff3 !important
}

html .bg-color-hover-tertiary:hover, html .bg-hover-tertiary:hover {
    background-color: #eaeff3 !important
}

html .bg-color-dark, html .bg-dark {
    background-color: #212529 !important
}

html .bg-color-hover-dark:hover, html .bg-hover-dark:hover {
    background-color: #212529 !important
}

html .bg-color-light, html .bg-light {
    background-color: #fff !important
}

html .bg-color-hover-light:hover, html .bg-hover-light:hover {
    background-color: #fff !important
}

@-webkit-keyframes colorTransition {
    0% {
        background-color: #5baaef
    }

    33% {
        background-color: #eeab26
    }

    66% {
        background-color: #eaeff3
    }

    100% {
        background-color: #080808
    }
}

@keyframes colorTransition {
    0% {
        background-color: #5baaef
    }

    33% {
        background-color: #eeab26
    }

    66% {
        background-color: #eaeff3
    }

    100% {
        background-color: #080808
    }
}

html .border-color-primary {
    border-color: #5baaef !important
}

html .border-color-hover-primary:hover {
    border-color: #5baaef !important
}

html .border-color-tertiary {
    border-color: #eaeff3 !important
}

html .border-color-hover-tertiary:hover {
    border-color: #eaeff3 !important
}

html .border-color-dark {
    border-color: #212529 !important
}

html .border-color-hover-dark:hover {
    border-color: #212529 !important
}

html .border-color-light {
    border-color: #fff !important
}

html .border-color-hover-light:hover {
    border-color: #fff !important
}

html .blockquote-primary {
    border-color: #5baaef !important
}

html .blockquote-tertiary {
    border-color: #eaeff3 !important
}

html .blockquote-dark {
    border-color: #212529 !important
}

html .blockquote-light {
    border-color: #fff !important
}

html .nav-color-primary nav > ul > li > a {
    color: #5baaef !important
}

html .nav-color-primary:not(.header-nav-main-dropdown-arrow) nav > ul > li > a:before {
    background-color: #5baaef !important
}

html .nav-color-primary:not(.header-nav-main-dropdown-arrow) nav > ul > li ul {
    border-top-color: #5baaef !important
}

html .nav-color-tertiary nav > ul > li > a {
    color: #eaeff3 !important
}

html .nav-color-tertiary:not(.header-nav-main-dropdown-arrow) nav > ul > li > a:before {
    background-color: #eaeff3 !important
}

html .nav-color-tertiary:not(.header-nav-main-dropdown-arrow) nav > ul > li ul {
    border-top-color: #eaeff3 !important
}

html .nav-color-dark nav > ul > li > a {
    color: #212529 !important
}

html .nav-color-dark:not(.header-nav-main-dropdown-arrow) nav > ul > li > a:before {
    background-color: #212529 !important
}

html .nav-color-dark:not(.header-nav-main-dropdown-arrow) nav > ul > li ul {
    border-top-color: #212529 !important
}

html .nav-color-light nav > ul > li > a {
    color: #fff !important
}

html .nav-color-light:not(.header-nav-main-dropdown-arrow) nav > ul > li > a:before {
    background-color: #fff !important
}

html .nav-color-light:not(.header-nav-main-dropdown-arrow) nav > ul > li ul {
    border-top-color: #fff !important
}

.nav-pills .nav-link.active, .nav-pills > li.active > a {
    background-color: #5baaef
}

    .nav-pills .nav-link.active:focus, .nav-pills .nav-link.active:hover, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
        background-color: #5baaef
    }

.nav-active-style-1 > li > a.active, .nav-active-style-1 > li > a:focus, .nav-active-style-1 > li > a:hover {
    border-bottom-color: #5baaef
}

html .nav-pills-primary a {
    color: #5baaef
}

    html .nav-pills-primary a:hover {
        color: #062246
    }

    html .nav-pills-primary a:focus {
        color: #062246
    }

    html .nav-pills-primary a:active {
        color: #cc3e1d
    }

html .nav-pills-primary .nav-link.active, html .nav-pills-primary > li.active > a {
    background-color: #5baaef
}

    html .nav-pills-primary .nav-link.active:focus, html .nav-pills-primary .nav-link.active:hover, html .nav-pills-primary > li.active > a:focus, html .nav-pills-primary > li.active > a:hover {
        background-color: #5baaef
    }

html .nav-pills-tertiary a {
    color: #eaeff3
}

    html .nav-pills-tertiary a:hover {
        color: #fafbfc
    }

    html .nav-pills-tertiary a:focus {
        color: #fafbfc
    }

    html .nav-pills-tertiary a:active {
        color: #dae3ea
    }

html .nav-pills-tertiary .nav-link.active, html .nav-pills-tertiary > li.active > a {
    background-color: #eaeff3
}

    html .nav-pills-tertiary .nav-link.active:focus, html .nav-pills-tertiary .nav-link.active:hover, html .nav-pills-tertiary > li.active > a:focus, html .nav-pills-tertiary > li.active > a:hover {
        background-color: #eaeff3
    }

html .nav-pills-dark a {
    color: #212529
}

    html .nav-pills-dark a:hover {
        color: #2c3237
    }

    html .nav-pills-dark a:focus {
        color: #2c3237
    }

    html .nav-pills-dark a:active {
        color: #16181b
    }

html .nav-pills-dark .nav-link.active, html .nav-pills-dark > li.active > a {
    background-color: #212529
}

    html .nav-pills-dark .nav-link.active:focus, html .nav-pills-dark .nav-link.active:hover, html .nav-pills-dark > li.active > a:focus, html .nav-pills-dark > li.active > a:hover {
        background-color: #212529
    }

html .nav-pills-light a {
    color: #fff
}

    html .nav-pills-light a:hover {
        color: #fff
    }

    html .nav-pills-light a:focus {
        color: #fff
    }

    html .nav-pills-light a:active {
        color: #f2f2f2
    }

html .nav-pills-light .nav-link.active, html .nav-pills-light > li.active > a {
    background-color: #fff
}

    html .nav-pills-light .nav-link.active:focus, html .nav-pills-light .nav-link.active:hover, html .nav-pills-light > li.active > a:focus, html .nav-pills-light > li.active > a:hover {
        background-color: #fff
    }

.btn-link {
    color: #5baaef
}

    .btn-link:hover {
        color: #062246
    }

    .btn-link:active {
        color: #cc3e1d
    }

html .btn-primary {
    background-color: #5baaef;
    border-color: #5baaef #5baaef #062246;
    color: #fff
}

    html .btn-primary.hover, html .btn-primary:hover {
        background-color: #062246;
        border-color: #062246 #062246 #5baaef;
        color: #fff
    }

    html .btn-primary:focus {
        -webkit-box-shadow: 0 0 0 3px rgba(224, 70, 34, .5);
        box-shadow: 0 0 0 3px rgba(224, 70, 34, .5)
    }

    html .btn-primary:disabled {
        background-color: #5baaef;
        border-color: #5baaef #5baaef #062246
    }

    html .btn-primary.active, html .btn-primary:active {
        background-color: #062246 !important;
        background-image: none !important;
        border-color: #062246 #062246 #892913 !important
    }

html .btn-primary-scale-2 {
    background-color: #062246;
    border-color: #062246 #062246 #892913;
    color: #fff
}

    html .btn-primary-scale-2.hover, html .btn-primary-scale-2:hover {
        background-color: #d7411e;
        border-color: #5baaef #5baaef #062246;
        color: #fff
    }

    html .btn-primary-scale-2:focus {
        -webkit-box-shadow: 0 0 0 3px rgba(182, 55, 25, .5);
        box-shadow: 0 0 0 3px rgba(182, 55, 25, .5)
    }

    html .btn-primary-scale-2:disabled {
        background-color: #062246;
        border-color: #062246 #062246 #892913
    }

    html .btn-primary-scale-2.active, html .btn-primary-scale-2:active {
        background-color: #942d15 !important;
        background-image: none !important;
        border-color: #892913 #892913 #5c1c0d !important
    }

html .btn-tertiary {
    background-color: #eaeff3;
    border-color: #eaeff3 #eaeff3 #cad6e0;
    color: #777
}

    html .btn-tertiary.hover, html .btn-tertiary:hover {
        background-color: #fff;
        border-color: #fff #fff #eaeff3;
        color: #777
    }

    html .btn-tertiary:focus {
        -webkit-box-shadow: 0 0 0 3px rgba(234, 239, 243, .5);
        box-shadow: 0 0 0 3px rgba(234, 239, 243, .5)
    }

    html .btn-tertiary:disabled {
        background-color: #eaeff3;
        border-color: #eaeff3 #eaeff3 #cad6e0
    }

    html .btn-tertiary.active, html .btn-tertiary:active {
        background-color: #d2dce5 !important;
        background-image: none !important;
        border-color: #cad6e0 #cad6e0 #a9bece !important
    }

html .btn-tertiary-scale-2 {
    background-color: #cad6e0;
    border-color: #cad6e0 #cad6e0 #a9bece;
    color: #777
}

    html .btn-tertiary-scale-2.hover, html .btn-tertiary-scale-2:hover {
        background-color: #e2e9ee;
        border-color: #eaeff3 #eaeff3 #cad6e0;
        color: #777
    }

    html .btn-tertiary-scale-2:focus {
        -webkit-box-shadow: 0 0 0 3px rgba(202, 214, 224, .5);
        box-shadow: 0 0 0 3px rgba(202, 214, 224, .5)
    }

    html .btn-tertiary-scale-2:disabled {
        background-color: #cad6e0;
        border-color: #cad6e0 #cad6e0 #a9bece
    }

    html .btn-tertiary-scale-2.active, html .btn-tertiary-scale-2:active {
        background-color: #b1c4d3 !important;
        background-image: none !important;
        border-color: #a9bece #a9bece #89a5bb !important
    }

html .btn-dark {
    background-color: #212529;
    border-color: #212529 #212529 #0a0c0d;
    color: #fff
}

    html .btn-dark.hover, html .btn-dark:hover {
        background-color: #32383e;
        border-color: #383f45 #383f45 #212529;
        color: #fff
    }

    html .btn-dark:focus {
        -webkit-box-shadow: 0 0 0 3px rgba(33, 37, 41, .5);
        box-shadow: 0 0 0 3px rgba(33, 37, 41, .5)
    }

    html .btn-dark:disabled {
        background-color: #212529;
        border-color: #212529 #212529 #0a0c0d
    }

    html .btn-dark.active, html .btn-dark:active {
        background-color: #101214 !important;
        background-image: none !important;
        border-color: #0a0c0d #0a0c0d #000 !important
    }

html .btn-dark-scale-2 {
    background-color: #0a0c0d;
    border-color: #0a0c0d #0a0c0d #000;
    color: #fff
}

    html .btn-dark-scale-2.hover, html .btn-dark-scale-2:hover {
        background-color: #1b1f22;
        border-color: #212529 #212529 #0a0c0d;
        color: #fff
    }

    html .btn-dark-scale-2:focus {
        -webkit-box-shadow: 0 0 0 3px rgba(10, 11, 13, .5);
        box-shadow: 0 0 0 3px rgba(10, 11, 13, .5)
    }

    html .btn-dark-scale-2:disabled {
        background-color: #0a0c0d;
        border-color: #0a0c0d #0a0c0d #000
    }

    html .btn-dark-scale-2.active, html .btn-dark-scale-2:active {
        background-color: #000 !important;
        background-image: none !important;
        border-color: #000 #000 #000 !important
    }

html .btn-light {
    background-color: #fff;
    border-color: #fff #fff #e6e6e6;
    color: #777
}

    html .btn-light.hover, html .btn-light:hover {
        background-color: #fff;
        border-color: #fff #fff #fff;
        color: #777
    }

    html .btn-light:focus {
        -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 255, .5);
        box-shadow: 0 0 0 3px rgba(255, 255, 255, .5)
    }

    html .btn-light:disabled {
        background-color: #fff;
        border-color: #fff #fff #e6e6e6
    }

    html .btn-light.active, html .btn-light:active {
        background-color: #ececec !important;
        background-image: none !important;
        border-color: #e6e6e6 #e6e6e6 #ccc !important
    }

html .btn-light-scale-2 {
    background-color: #e6e6e6;
    border-color: #e6e6e6 #e6e6e6 #ccc;
    color: #777
}

    html .btn-light-scale-2.hover, html .btn-light-scale-2:hover {
        background-color: #f9f9f9;
        border-color: #fff #fff #e6e6e6;
        color: #777
    }

    html .btn-light-scale-2:focus {
        -webkit-box-shadow: 0 0 0 3px rgba(230, 230, 230, .5);
        box-shadow: 0 0 0 3px rgba(230, 230, 230, .5)
    }

    html .btn-light-scale-2:disabled {
        background-color: #e6e6e6;
        border-color: #e6e6e6 #e6e6e6 #ccc
    }

    html .btn-light-scale-2.active, html .btn-light-scale-2:active {
        background-color: #d2d2d2 !important;
        background-image: none !important;
        border-color: #ccc #ccc #b3b3b3 !important
    }

html .btn-with-arrow.btn-primary {
    background-color: transparent;
    border-color: transparent;
    color: #5baaef
}

    html .btn-with-arrow.btn-primary:active {
        background-color: transparent !important;
        border-color: transparent !important;
        color: #5baaef !important
    }

    html .btn-with-arrow.btn-primary span {
        background-color: #5baaef;
        -webkit-box-shadow: 2px 3px 18px -3px #5baaef;
        box-shadow: 2px 3px 18px -3px #5baaef
    }

html .btn-with-arrow.btn-tertiary {
    background-color: transparent;
    border-color: transparent;
    color: #eaeff3
}

    html .btn-with-arrow.btn-tertiary:active {
        background-color: transparent !important;
        border-color: transparent !important;
        color: #eaeff3 !important
    }

    html .btn-with-arrow.btn-tertiary span {
        background-color: #eaeff3;
        -webkit-box-shadow: 2px 3px 18px -3px #eaeff3;
        box-shadow: 2px 3px 18px -3px #eaeff3
    }

html .btn-with-arrow.btn-dark {
    background-color: transparent;
    border-color: transparent;
    color: #212529
}

    html .btn-with-arrow.btn-dark:active {
        background-color: transparent !important;
        border-color: transparent !important;
        color: #212529 !important
    }

    html .btn-with-arrow.btn-dark span {
        background-color: #212529;
        -webkit-box-shadow: 2px 3px 18px -3px #212529;
        box-shadow: 2px 3px 18px -3px #212529
    }

html .btn-with-arrow.btn-light {
    background-color: transparent;
    border-color: transparent;
    color: #fff
}

    html .btn-with-arrow.btn-light:active {
        background-color: transparent !important;
        border-color: transparent !important;
        color: #fff !important
    }

    html .btn-with-arrow.btn-light span {
        background-color: #fff;
        -webkit-box-shadow: 2px 3px 18px -3px #fff;
        box-shadow: 2px 3px 18px -3px #fff
    }

html .alert-primary {
    background-color: #5baaef;
    border-color: #d5411e;
    color: #fff
}

    html .alert-primary .alert-link {
        color: #fff
    }

html .alert-tertiary {
    background-color: #eaeff3;
    border-color: #e0e8ed;
    color: #777
}

    html .alert-tertiary .alert-link {
        color: #777
    }

html .alert-dark {
    background-color: #212529;
    border-color: #1a1d21;
    color: #fff
}

    html .alert-dark .alert-link {
        color: #fff
    }

html .alert-light {
    background-color: #fff;
    border-color: #f7f7f7;
    color: #777
}

    html .alert-light .alert-link {
        color: #777
    }

html section.section-primary {
    background-color: #5baaef !important;
    border-color: #cc3e1d !important
}

    html section.section-primary h1, html section.section-primary h2, html section.section-primary h3, html section.section-primary h4, html section.section-primary h5, html section.section-primary h6 {
        color: #fff
    }

    html section.section-primary p {
        color: #e6e6e6
    }

html section.section-primary-scale-2 {
    background-color: #062246 !important;
    border-color: #9f3016 !important
}

html section.section-tertiary {
    background-color: #eaeff3 !important;
    border-color: #dae3ea !important
}

    html section.section-tertiary h1, html section.section-tertiary h2, html section.section-tertiary h3, html section.section-tertiary h4, html section.section-tertiary h5, html section.section-tertiary h6 {
        color: #777
    }

    html section.section-tertiary p {
        color: #5e5e5e
    }

html section.section-tertiary-scale-2 {
    background-color: #cad6e0 !important;
    border-color: #b9cad7 !important
}

html section.section-dark {
    background-color: #212529 !important;
    border-color: #16181b !important
}

    html section.section-dark h1, html section.section-dark h2, html section.section-dark h3, html section.section-dark h4, html section.section-dark h5, html section.section-dark h6 {
        color: #fff
    }

    html section.section-dark p {
        color: #e6e6e6
    }

html section.section-dark-scale-2 {
    background-color: #0a0c0d !important;
    border-color: #000 !important
}

html section.section-light {
    background-color: #fff !important;
    border-color: #f2f2f2 !important
}

    html section.section-light h1, html section.section-light h2, html section.section-light h3, html section.section-light h4, html section.section-light h5, html section.section-light h6 {
        color: #777
    }

    html section.section-light p {
        color: #5e5e5e
    }

html section.section-light-scale-2 {
    background-color: #e6e6e6 !important;
    border-color: #d9d9d9 !important
}

html .bg-color-light-scale-1 {
    background-color: #f7f7f7 !important
}

html .bg-color-light-scale-border-top-1, html .section.bg-color-light-scale-1 {
    border-top-color: #efefef !important
}

html .bg-color-light-scale-2 {
    background-color: #e8e8e8 !important
}

html .bg-color-light-scale-border-top-2, html .section.bg-color-light-scale-2 {
    border-top-color: #e0e0e0 !important
}

html .bg-color-light-scale-3 {
    background-color: #e0e0e0 !important
}

html .bg-color-light-scale-border-top-3, html .section.bg-color-light-scale-3 {
    border-top-color: #d8d8d8 !important
}

html .bg-color-light-scale-4 {
    background-color: #d8d8d8 !important
}

html .bg-color-light-scale-border-top-4, html .section.bg-color-light-scale-4 {
    border-top-color: #d1d1d1 !important
}

html .bg-color-light-scale-5 {
    background-color: #d1d1d1 !important
}

html .bg-color-light-scale-border-top-5, html .section.bg-color-light-scale-5 {
    border-top-color: #c9c9c9 !important
}

html .bg-color-light-scale-6 {
    background-color: #c9c9c9 !important
}

html .bg-color-light-scale-border-top-6, html .section.bg-color-light-scale-6 {
    border-top-color: #c1c1c1 !important
}

html .bg-color-light-scale-7 {
    background-color: #c1c1c1 !important
}

html .bg-color-light-scale-border-top-7, html .section.bg-color-light-scale-7 {
    border-top-color: #bababa !important
}

html .bg-color-light-scale-8 {
    background-color: #bababa !important
}

html .bg-color-light-scale-border-top-8, html .section.bg-color-light-scale-8 {
    border-top-color: #b2b2b2 !important
}

html .bg-color-light-scale-9 {
    background-color: #b2b2b2 !important
}

html .bg-color-light-scale-border-top-9, html .section.bg-color-light-scale-9 {
    border-top-color: #ababab !important
}

html .bg-color-dark-scale-1 {
    background-color: #212529 !important
}

html .bg-color-dark-scale-border-top-1, html .section.bg-color-dark-scale-1 {
    border-top-color: #1a1d21 !important
}

html .bg-color-dark-scale-2 {
    background-color: #1c2023 !important
}

html .bg-color-dark-scale-border-top-2, html .section.bg-color-dark-scale-2 {
    border-top-color: #16181b !important
}

html .bg-color-dark-scale-3 {
    background-color: #181b1e !important
}

html .bg-color-dark-scale-border-top-3, html .section.bg-color-dark-scale-3 {
    border-top-color: #111315 !important
}

html .bg-color-dark-scale-4 {
    background-color: #131618 !important
}

html .bg-color-dark-scale-border-top-4, html .section.bg-color-dark-scale-4 {
    border-top-color: #0d0e10 !important
}

html .bg-color-dark-scale-5 {
    background-color: #0f1112 !important
}

html .bg-color-dark-scale-border-top-5, html .section.bg-color-dark-scale-5 {
    border-top-color: #08090a !important
}

html .bg-color-dark-scale-6 {
    background-color: #0a0c0d !important
}

html .bg-color-dark-scale-border-top-6, html .section.bg-color-dark-scale-6 {
    border-top-color: #030404 !important
}

html .bg-color-dark-scale-7 {
    background-color: #060607 !important
}

html .bg-color-dark-scale-border-top-7, html .section.bg-color-dark-scale-7 {
    border-top-color: #000 !important
}

html .bg-color-dark-scale-8 {
    background-color: #010101 !important
}

html .bg-color-dark-scale-border-top-8, html .section.bg-color-dark-scale-8 {
    border-top-color: #000 !important
}

html .bg-color-dark-scale-9 {
    background-color: #000 !important
}

html .bg-color-dark-scale-border-top-9, html .section.bg-color-dark-scale-9 {
    border-top-color: #000 !important
}

section.page-header .page-header-title-border {
    background-color: #5baaef !important
}

html .page-header-color.page-header-primary {
    background-color: #5baaef;
    border-bottom-color: #5baaef;
    color: #fff
}

    html .page-header-color.page-header-primary h1 {
        color: #fff
    }

        html .page-header-color.page-header-primary h1 span {
            color: #fff
        }

    html .page-header-color.page-header-primary a {
        color: #fff
    }

html .page-header-color.page-header-tertiary {
    background-color: #eaeff3;
    border-bottom-color: #eaeff3;
    color: #777
}

    html .page-header-color.page-header-tertiary h1 {
        color: #777
    }

        html .page-header-color.page-header-tertiary h1 span {
            color: #777
        }

    html .page-header-color.page-header-tertiary a {
        color: #777
    }

html .page-header-color.page-header-dark {
    background-color: #212529;
    border-bottom-color: #212529;
    color: #fff
}

    html .page-header-color.page-header-dark h1 {
        color: #fff
    }

        html .page-header-color.page-header-dark h1 span {
            color: #fff
        }

    html .page-header-color.page-header-dark a {
        color: #fff
    }

html .page-header-color.page-header-light {
    background-color: #fff;
    border-bottom-color: #fff;
    color: #777
}

    html .page-header-color.page-header-light h1 {
        color: #777
    }

        html .page-header-color.page-header-light h1 span {
            color: #777
        }

    html .page-header-color.page-header-light a {
        color: #777
    }

.thumb-info .thumb-info-action-icon, .thumb-info .thumb-info-type, .thumb-info-social-icons a {
    background-color: #5baaef
}

html .thumb-info .thumb-info-action-icon-primary {
    background-color: #5baaef
}

    html .thumb-info .thumb-info-action-icon-primary i {
        color: #fff
    }

html .thumb-info .thumb-info-action-icon-tertiary {
    background-color: #eaeff3
}

    html .thumb-info .thumb-info-action-icon-tertiary i {
        color: #777
    }

html .thumb-info .thumb-info-action-icon-dark {
    background-color: #212529
}

    html .thumb-info .thumb-info-action-icon-dark i {
        color: #fff
    }

html .thumb-info .thumb-info-action-icon-light {
    background-color: #fff
}

    html .thumb-info .thumb-info-action-icon-light i {
        color: #777
    }

.thumb-info.thumb-info-block-primary .thumb-info-wrapper:before {
    background: rgba(224, 70, 34, .9)
}

.owl-carousel.show-nav-title .owl-nav button[class*=owl-], .owl-carousel.show-nav-title .owl-nav button[class*=owl-].hover, .owl-carousel.show-nav-title .owl-nav button[class*=owl-]:hover {
    color: #5baaef
}

.owl-carousel .owl-nav button[class*=owl-] {
    background-color: #5baaef;
    border-color: #5baaef #5baaef #062246;
    color: #fff
}

    .owl-carousel .owl-nav button[class*=owl-].hover, .owl-carousel .owl-nav button[class*=owl-]:hover {
        background-color: #062246;
        border-color: #062246 #062246 #5baaef
    }

    .owl-carousel .owl-nav button[class*=owl-].active, .owl-carousel .owl-nav button[class*=owl-]:active {
        background-color: #062246;
        background-image: none;
        border-color: #062246 #062246 #892913
    }

.owl-carousel.nav-with-transparency:not(.nav-style-1):not(.show-nav-title) .owl-nav button[class*=owl-] {
    background-color: rgba(224, 70, 34, .4)
}

.owl-carousel.carousel-center-active-item-2 .owl-item.active > div {
    background: #5baaef
}

.list.list-icons li a:first-child > .icons:first-child, .list.list-icons li a:first-child > [class*=fa-]:first-child, .list.list-icons li > .icons:first-child, .list.list-icons li > [class*=fa-]:first-child {
    color: #5baaef;
    border-color: #5baaef
}

.list.list-icons.list-icons-style-3 li a:first-child > .icons:first-child, .list.list-icons.list-icons-style-3 li a:first-child > [class*=fa-]:first-child, .list.list-icons.list-icons-style-3 li > .icons:first-child, .list.list-icons.list-icons-style-3 li > [class*=fa-]:first-child {
    background-color: #5baaef
}

html .list-primary.list-icons li a:first-child > .icons:first-child, html .list-primary.list-icons li a:first-child > [class*=fa-]:first-child, html .list-primary.list-icons li > .icons:first-child, html .list-primary.list-icons li > [class*=fa-]:first-child {
    color: #5baaef;
    border-color: #5baaef
}

html .list-primary.list-icons.list-icons-style-3 li a:first-child > .icons:first-child, html .list-primary.list-icons.list-icons-style-3 li a:first-child > [class*=fa-]:first-child, html .list-primary.list-icons.list-icons-style-3 li > .icons:first-child, html .list-primary.list-icons.list-icons-style-3 li > [class*=fa-]:first-child {
    background-color: #5baaef;
    color: #fff
}

html .list-tertiary.list-icons li a:first-child > .icons:first-child, html .list-tertiary.list-icons li a:first-child > [class*=fa-]:first-child, html .list-tertiary.list-icons li > .icons:first-child, html .list-tertiary.list-icons li > [class*=fa-]:first-child {
    color: #eaeff3;
    border-color: #eaeff3
}

html .list-tertiary.list-icons.list-icons-style-3 li a:first-child > .icons:first-child, html .list-tertiary.list-icons.list-icons-style-3 li a:first-child > [class*=fa-]:first-child, html .list-tertiary.list-icons.list-icons-style-3 li > .icons:first-child, html .list-tertiary.list-icons.list-icons-style-3 li > [class*=fa-]:first-child {
    background-color: #eaeff3;
    color: #777
}

html .list-dark.list-icons li a:first-child > .icons:first-child, html .list-dark.list-icons li a:first-child > [class*=fa-]:first-child, html .list-dark.list-icons li > .icons:first-child, html .list-dark.list-icons li > [class*=fa-]:first-child {
    color: #212529;
    border-color: #212529
}

html .list-dark.list-icons.list-icons-style-3 li a:first-child > .icons:first-child, html .list-dark.list-icons.list-icons-style-3 li a:first-child > [class*=fa-]:first-child, html .list-dark.list-icons.list-icons-style-3 li > .icons:first-child, html .list-dark.list-icons.list-icons-style-3 li > [class*=fa-]:first-child {
    background-color: #212529;
    color: #fff
}

html .list-light.list-icons li a:first-child > .icons:first-child, html .list-light.list-icons li a:first-child > [class*=fa-]:first-child, html .list-light.list-icons li > .icons:first-child, html .list-light.list-icons li > [class*=fa-]:first-child {
    color: #fff;
    border-color: #fff
}

html .list-light.list-icons.list-icons-style-3 li a:first-child > .icons:first-child, html .list-light.list-icons.list-icons-style-3 li a:first-child > [class*=fa-]:first-child, html .list-light.list-icons.list-icons-style-3 li > .icons:first-child, html .list-light.list-icons.list-icons-style-3 li > [class*=fa-]:first-child {
    background-color: #fff;
    color: #777
}

#header .header-btn-collapse-nav {
    background: #5baaef
}

@media (min-width:992px) {
    #header .header-nav-main nav > ul > li > a {
        color: #5baaef
    }

    #header .header-nav-main nav > ul > li:hover > a {
        background: #5baaef
    }

    #header .header-nav-main nav > ul:not(:hover) > li > a.active {
        background-color: #5baaef;
        color: #fff
    }

    #header .header-nav.header-nav-stripe nav > ul > li:hover > a {
        background-color: #5baaef
    }

    #header .header-nav.header-nav-stripe nav > ul:not(:hover) > li > a.active {
        background-color: #5baaef
    }

    #header .header-nav.header-nav-stripe nav > ul:hover > li > a.active {
        color: #5baaef
    }

    #header .header-nav.header-nav-line nav > ul li:hover > a {
        color: #5baaef
    }

        #header .header-nav.header-nav-line nav > ul li:hover > a:before {
            background: #5baaef
        }

    #header .header-nav.header-nav-line nav > ul:not(:hover) li > a.active {
        color: #5baaef
    }

        #header .header-nav.header-nav-line nav > ul:not(:hover) li > a.active:before {
            background: #5baaef
        }

    #header .header-nav-main.header-nav-main-slide nav > ul > li:hover > span > a {
        color: #5baaef
    }

    #header .header-nav-main.header-nav-main-slide nav > ul:not(:hover) > li > span > a.active {
        color: #5baaef
    }
}

@media (max-width:991px) {
    #header .header-nav-main:not(.header-nav-main-mobile-dark) nav > ul > li > a {
        color: #5baaef
    }

        #header .header-nav-main:not(.header-nav-main-mobile-dark) nav > ul > li > a:active {
            color: #5baaef
        }

        #header .header-nav-main:not(.header-nav-main-mobile-dark) nav > ul > li > a.active {
            background: #5baaef
        }

            #header .header-nav-main:not(.header-nav-main-mobile-dark) nav > ul > li > a.active:focus, #header .header-nav-main:not(.header-nav-main-mobile-dark) nav > ul > li > a.active:hover {
                background: #5baaef
            }

    #header .header-nav-main.header-nav-main-mobile-dark nav > ul > li > a.active {
        background: #5baaef
    }

        #header .header-nav-main.header-nav-main-mobile-dark nav > ul > li > a.active:focus, #header .header-nav-main.header-nav-main-mobile-dark nav > ul > li > a.active:hover {
            background: #5baaef
        }
}

html #header .header-top.header-top-primary {
    background: #5baaef;
    border-top-color: #cc3e1d
}

    html #header .header-top.header-top-primary .header-nav-top ul > li > a:focus, html #header .header-top.header-top-primary .header-nav-top ul > li > a:hover {
        background: #062246
    }

html #header .header-top.header-top-tertiary {
    background: #eaeff3;
    border-top-color: #dae3ea
}

    html #header .header-top.header-top-tertiary .header-nav-top ul > li > a:focus, html #header .header-top.header-top-tertiary .header-nav-top ul > li > a:hover {
        background: #fafbfc
    }

html #header .header-top.header-top-dark {
    background: #212529;
    border-top-color: #16181b
}

    html #header .header-top.header-top-dark .header-nav-top ul > li > a:focus, html #header .header-top.header-top-dark .header-nav-top ul > li > a:hover {
        background: #2c3237
    }

html #header .header-top.header-top-light {
    background: #fff;
    border-top-color: #f2f2f2
}

    html #header .header-top.header-top-light .header-nav-top ul > li > a:focus, html #header .header-top.header-top-light .header-nav-top ul > li > a:hover {
        background: #fff
    }

@media (min-width:992px) {
    #header .header-nav-main.header-nav-main-light nav > ul > li:hover > a {
        color: #5baaef
    }

    #header .header-nav-main.header-nav-main-light nav > ul > li > a.active {
        color: #5baaef
    }
}

.testimonial blockquote {
    background: #062246
}

html .testimonial-primary blockquote {
    background: #062246
}

html .testimonial-primary.testimonial-style-7 {
    background: #062246
}

html .testimonial-quotes-primary blockquote:after, html .testimonial-quotes-primary blockquote:before {
    color: #5baaef !important
}

html .testimonial-tertiary blockquote {
    background: #fafbfc
}

html .testimonial-tertiary.testimonial-style-7 {
    background: #fafbfc
}

html .testimonial-quotes-tertiary blockquote:after, html .testimonial-quotes-tertiary blockquote:before {
    color: #5baaef !important
}

html .testimonial-dark blockquote {
    background: #2c3237
}

html .testimonial-dark.testimonial-style-7 {
    background: #2c3237
}

html .testimonial-quotes-dark blockquote:after, html .testimonial-quotes-dark blockquote:before {
    color: #5baaef !important
}

html .testimonial-light blockquote {
    background: #fff
}

html .testimonial-light.testimonial-style-7 {
    background: #fff
}

html .testimonial-quotes-light blockquote:after, html .testimonial-quotes-light blockquote:before {
    color: #5baaef !important
}

.feature-box .feature-box-icon {
    background-color: #5baaef
}

html .feature-box-primary .feature-box-icon {
    background-color: #5baaef
}

html .feature-box-tertiary .feature-box-icon {
    background-color: #eaeff3
}

html .feature-box-dark .feature-box-icon {
    background-color: #212529
}

html .feature-box-light .feature-box-icon {
    background-color: #fff
}

.feature-box.feature-box-style-2 .feature-box-icon .icons, .feature-box.feature-box-style-2 .feature-box-icon [class*=fa-] {
    color: #5baaef
}

html .feature-box-primary.feature-box-style-2 .feature-box-icon .icons, html .feature-box-primary.feature-box-style-2 .feature-box-icon [class*=fa-] {
    color: #5baaef
}

html .feature-box-tertiary.feature-box-style-2 .feature-box-icon .icons, html .feature-box-tertiary.feature-box-style-2 .feature-box-icon [class*=fa-] {
    color: #eaeff3
}

html .feature-box-dark.feature-box-style-2 .feature-box-icon .icons, html .feature-box-dark.feature-box-style-2 .feature-box-icon [class*=fa-] {
    color: #212529
}

html .feature-box-light.feature-box-style-2 .feature-box-icon .icons, html .feature-box-light.feature-box-style-2 .feature-box-icon [class*=fa-] {
    color: #fff
}

.feature-box.feature-box-style-3 .feature-box-icon {
    border-color: #5baaef
}

    .feature-box.feature-box-style-3 .feature-box-icon .icons, .feature-box.feature-box-style-3 .feature-box-icon [class*=fa-] {
        color: #5baaef
    }

html .feature-box-primary.feature-box-style-3 .feature-box-icon {
    border-color: #5baaef
}

    html .feature-box-primary.feature-box-style-3 .feature-box-icon .icons, html .feature-box-primary.feature-box-style-3 .feature-box-icon [class*=fa-] {
        color: #5baaef
    }

html .feature-box-tertiary.feature-box-style-3 .feature-box-icon {
    border-color: #eaeff3
}

    html .feature-box-tertiary.feature-box-style-3 .feature-box-icon .icons, html .feature-box-tertiary.feature-box-style-3 .feature-box-icon [class*=fa-] {
        color: #eaeff3
    }

html .feature-box-dark.feature-box-style-3 .feature-box-icon {
    border-color: #212529
}

    html .feature-box-dark.feature-box-style-3 .feature-box-icon .icons, html .feature-box-dark.feature-box-style-3 .feature-box-icon [class*=fa-] {
        color: #212529
    }

html .feature-box-light.feature-box-style-3 .feature-box-icon {
    border-color: #fff
}

    html .feature-box-light.feature-box-style-3 .feature-box-icon .icons, html .feature-box-light.feature-box-style-3 .feature-box-icon [class*=fa-] {
        color: #fff
    }

.feature-box.feature-box-style-4 .feature-box-icon .icons, .feature-box.feature-box-style-4 .feature-box-icon [class*=fa-] {
    color: #5baaef
}

html .feature-box-primary.feature-box-style-4 .feature-box-icon .icons, html .feature-box-primary.feature-box-style-4 .feature-box-icon [class*=fa-] {
    color: #5baaef
}

html .feature-box-tertiary.feature-box-style-4 .feature-box-icon .icons, html .feature-box-tertiary.feature-box-style-4 .feature-box-icon [class*=fa-] {
    color: #eaeff3
}

html .feature-box-dark.feature-box-style-4 .feature-box-icon .icons, html .feature-box-dark.feature-box-style-4 .feature-box-icon [class*=fa-] {
    color: #212529
}

html .feature-box-light.feature-box-style-4 .feature-box-icon .icons, html .feature-box-light.feature-box-style-4 .feature-box-icon [class*=fa-] {
    color: #fff
}

.feature-box.feature-box-style-5 .feature-box-icon .icons, .feature-box.feature-box-style-5 .feature-box-icon [class*=fa-] {
    color: #5baaef
}

html .feature-box-primary.feature-box-style-5 .feature-box-icon .icons, html .feature-box-primary.feature-box-style-5 .feature-box-icon [class*=fa-] {
    color: #5baaef
}

html .feature-box-tertiary.feature-box-style-5 .feature-box-icon .icons, html .feature-box-tertiary.feature-box-style-5 .feature-box-icon [class*=fa-] {
    color: #eaeff3
}

html .feature-box-dark.feature-box-style-5 .feature-box-icon .icons, html .feature-box-dark.feature-box-style-5 .feature-box-icon [class*=fa-] {
    color: #212529
}

html .feature-box-light.feature-box-style-5 .feature-box-icon .icons, html .feature-box-light.feature-box-style-5 .feature-box-icon [class*=fa-] {
    color: #fff
}

html .feature-box-primary.feature-box-style-6 .feature-box-icon .icons, html .feature-box-primary.feature-box-style-6 .feature-box-icon [class*=fa-] {
    color: #5baaef
}

html .feature-box-tertiary.feature-box-style-6 .feature-box-icon .icons, html .feature-box-tertiary.feature-box-style-6 .feature-box-icon [class*=fa-] {
    color: #eaeff3
}

html .feature-box-dark.feature-box-style-6 .feature-box-icon .icons, html .feature-box-dark.feature-box-style-6 .feature-box-icon [class*=fa-] {
    color: #212529
}

html .feature-box-light.feature-box-style-6 .feature-box-icon .icons, html .feature-box-light.feature-box-style-6 .feature-box-icon [class*=fa-] {
    color: #fff
}

html .call-to-action.call-to-action-primary {
    background: #5baaef
}

html .call-to-action.call-to-action-primary {
    background: #5baaef
}

    html .call-to-action.call-to-action-primary h3, html .call-to-action.call-to-action-primary p {
        color: #fff
    }

html .call-to-action.call-to-action-tertiary {
    background: #eaeff3
}

html .call-to-action.call-to-action-tertiary {
    background: #eaeff3
}

    html .call-to-action.call-to-action-tertiary h3, html .call-to-action.call-to-action-tertiary p {
        color: #777
    }

html .call-to-action.call-to-action-dark {
    background: #212529
}

html .call-to-action.call-to-action-dark {
    background: #212529
}

    html .call-to-action.call-to-action-dark h3, html .call-to-action.call-to-action-dark p {
        color: #fff
    }

html .call-to-action.call-to-action-light {
    background: #fff
}

html .call-to-action.call-to-action-light {
    background: #fff
}

    html .call-to-action.call-to-action-light h3, html .call-to-action.call-to-action-light p {
        color: #777
    }

.home-concept strong {
    color: #5baaef
}

#footer .footer-nav.footer-nav-bottom-line nav > ul:not(:hover) > li > a.active {
    color: #5baaef !important
}

    #footer .footer-nav.footer-nav-bottom-line nav > ul:not(:hover) > li > a.active:before {
        background: #5baaef !important
    }

#footer .footer-nav.footer-nav-bottom-line nav > ul:hover > li:hover > a {
    color: #5baaef !important
}

    #footer .footer-nav.footer-nav-bottom-line nav > ul:hover > li:hover > a:before {
        background: #5baaef !important
    }

#header .header-nav-main nav > ul > li > a, #header.header-semi-transparent .header-nav-main, #header.header-semi-transparent-light .header-nav-main, #header.header-transparent .header-nav-main, .alert, .btn-3d, .btn-group-1 > .btn:not(.btn-rounded), .btn-group-2 > .btn:not(.btn-rounded), .btn-group-4 > .btn:not(.btn-rounded), .btn-group-lg > .btn:not(.btn-rounded), .btn-group-sm > .btn:not(.btn-rounded), .btn-lg, .btn-sm, .btn:not(.btn-rounded), .container .call-to-action, .form-control, .form-control-lg, .form-control-lg .form-control, .form-control-sm, .form-control-sm .form-control, .google-map.small, .input-group-2 > .form-control, .input-group-2 > .input-group-btn > .btn, .input-group-4 > .form-control, .input-group-4 > .input-group-btn > .btn, .input-group-lg > .form-control, .input-group-lg > .input-group-btn > .btn, .input-group-sm > .form-control, .input-group-sm > .input-group-btn > .btn, .nav-pills .nav-link, .nav-pills > li > a, .nivo-slider .theme-default .nivoSlider, .nivo-slider .theme-default .nivoSlider img, .owl-carousel .owl-nav button[class*=owl-], .owl-carousel.rounded-nav .owl-nav button[class*=owl-], .owl-carousel.rounded-nav .owl-nav button[class*=owl-]:hover, .rounded, .tab-content, .testimonial blockquote, .testimonial.testimonial-style-2 blockquote, .testimonial.testimonial-style-3 blockquote, .testimonial.testimonial-style-4, .testimonial.testimonial-style-4 blockquote, .testimonial.testimonial-style-5 blockquote, .testimonial.testimonial-style-6 blockquote, .testimonial.testimonial-style-7 blockquote, .thumb-info, .thumb-info .thumb-info-type, .thumb-info .thumb-info-wrapper, .thumb-info .thumb-info-wrapper:after, .thumb-info img, html .scroll-to-top, html.dark #header {
    border-radius: 0 !important
}

.section-custom-construction .container:after {
    background: #5baaef !important
}

.section-custom-construction-2:after {
    background: #5baaef !important
}
