.main-slides {
    background-size: cover;
    background-position: center;
    height: 700px;
}

.banner-carousel {
    height: 700px;
}

.main-slides.sl1 {
    background-image: url(/Content/images/construction/slides/slide-construction-1.jpg);
}

.main-slides.sl2 {
    background-image: url(/Content/images/construction/slides/slide-construction-2.jpg);
}

@media(max-width: 991px) {
    .main-slides {
        height: 350px;
    }

    .banner-carousel {
        height: 350px;
    }

    .main-slides.sl2 {
        background-position: left;
    }
}

html {
    direction: ltr;
    overflow-x: hidden;
    box-shadow: none !important;
    -webkit-font-smoothing: antialiased
}

body {
    background-color: #fff;
    color: #777;
    font-family: "Josefin Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    margin: 0
}

    body a {
        outline: 0 !important
    }

.body {
    background-color: #fff
}

html.safari:not(.no-safari-overflow-x-fix) .body {
    overflow-x: hidden
}

html[dir=rtl] .body {
    overflow-x: hidden
}

li {
    line-height: 24px
}

@media (max-width:575px) {
    body {
        font-size: 13px
    }
}

#header {
    position: relative;
    z-index: 1030
}

    #header .header-body {
        display: flex;
        flex-direction: column;
        background: #fff;
        transition: min-height .3s ease;
        width: 100%;
        border-top: 3px solid #ededed;
        border-bottom: 1px solid transparent;
        z-index: 1001
    }

        #header .header-body[class*=border-color-] {
            border-bottom: 0 !important
        }

    #header .header-container {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        transition: ease height .3s
    }

@media (max-width:991px) {
    #header .header-container:not(.container):not(.container-fluid) .header-nav-main {
        padding: 0 .75rem
    }
}

#header .header-container.header-container-height-sm {
    height: 100px
}

#header .header-container.header-container-height-md {
    height: 125px
}

#header .header-container.header-container-height-lg {
    height: 145px
}

#header .container {
    position: relative
}

@media (max-width:767px) {
    #header .container {
        width: 100%
    }
}

#header .header-row {
    display: flex;
    flex-grow: 1;
    align-items: center;
    align-self: stretch;
    max-height: 100%
}

#header .header-column {
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-grow: 1;
    flex-direction: column
}

    #header .header-column.header-column-border-right {
        border-right: 1px solid rgba(0, 0, 0, .06)
    }

    #header .header-column.header-column-border-left {
        border-left: 1px solid rgba(0, 0, 0, .06)
    }

    #header .header-column .header-row {
        justify-content: inherit
    }

#header.header-no-min-height .header-body {
    min-height: 0 !important
}

#header .header-top {
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, .06);
    min-height: 47px
}

    #header .header-top.header-top-light-border-bottom {
        border-bottom-color: rgba(255, 255, 255, .1)
    }

    #header .header-top.header-top-simple-border-bottom {
        border-bottom-width: 1px
    }

    #header .header-top.header-top-default {
        background: #f7f7f7
    }

#header .header-logo {
    margin: 16px 0;
    margin: 1rem 0;
    position: relative;
    z-index: 1
}

    #header .header-logo img {
        transition: all .3s ease;
        position: relative;
        top: 0
    }

#header .header-nav {
    padding: 16px 0;
    padding: 1rem 0;
    min-height: 70px
}

#header .header-nav-top {
    display: flex;
    align-self: stretch;
    align-items: center
}

    #header .header-nav-top .nav > li > a, #header .header-nav-top .nav > li > span {
        color: #999;
        font-size: .9em;
        padding: 6px 10px;
        display: inline-block
    }

        #header .header-nav-top .nav > li > a .icons, #header .header-nav-top .nav > li > a [class*=fa-], #header .header-nav-top .nav > li > span .icons, #header .header-nav-top .nav > li > span [class*=fa-] {
            margin-right: 3px;
            font-size: .8em;
            position: relative
        }

    #header .header-nav-top .nav > li > a {
        text-decoration: none
    }

        #header .header-nav-top .nav > li > a a:focus, #header .header-nav-top .nav > li > a:hover {
            background: 0 0
        }

    #header .header-nav-top .nav > li + .nav-item-left-border {
        margin-left: 10px;
        padding-left: 10px;
        position: relative
    }

        #header .header-nav-top .nav > li + .nav-item-left-border:after {
            background: rgba(0, 0, 0, .08);
            content: "";
            width: 1px;
            height: 16px;
            position: absolute;
            display: block;
            top: 50%;
            transform: translate3d(0, -50%, 0);
            left: 0
        }

    #header .header-nav-top .nav > li + .nav-item-right-border {
        margin-right: 10px;
        padding-right: 10px;
        position: relative
    }

        #header .header-nav-top .nav > li + .nav-item-right-border:before {
            background: rgba(0, 0, 0, .08);
            content: "";
            width: 1px;
            height: 16px;
            position: absolute;
            display: block;
            top: 50%;
            transform: translate3d(0, -50%, 0);
            right: 0
        }

@media (max-width:575px) {
    #header .header-nav-top .nav > li:not(.d-none) {
        margin-left: 0;
        padding-left: 0
    }
}

#header .header-nav-top .nav > li.nav-item-left-border.nav-item-left-border-show:after {
    content: ''
}

#header .header-nav-top .nav > li.nav-item-right-border.nav-item-right-border-show:after {
    content: ''
}

@media (min-width:576px) {
    #header .header-nav-top .nav > li.nav-item-left-border.nav-item-left-border-sm-show:after {
        content: ''
    }

    #header .header-nav-top .nav > li.nav-item-right-border.nav-item-right-border-sm-show:after {
        content: ''
    }
}

@media (min-width:768px) {
    #header .header-nav-top .nav > li.nav-item-left-border.nav-item-left-border-md-show:after {
        content: ''
    }

    #header .header-nav-top .nav > li.nav-item-right-border.nav-item-right-border-md-show:after {
        content: ''
    }
}

@media (min-width:992px) {
    #header .header-nav-top .nav > li.nav-item-left-border.nav-item-left-border-lg-show:after {
        content: ''
    }

    #header .header-nav-top .nav > li.nav-item-right-border.nav-item-right-border-lg-show:after {
        content: ''
    }
}

#header .header-nav-top .nav > li.nav-item:not(.dropdown) > a .icons, #header .header-nav-top .nav > li.nav-item:not(.dropdown) > a [class*=fa-] {
    left: -1px;
    top: -1px
}

#header .header-nav-features {
    position: relative;
    padding-left: 20px;
    margin-left: 10px
}

    #header .header-nav-features:after, #header .header-nav-features:before {
        background: rgba(0, 0, 0, .03);
        content: none;
        width: 1px;
        height: 16px;
        position: absolute;
        display: block;
        top: 50%;
        transform: translate3d(0, -50%, 0);
        left: 0
    }

    #header .header-nav-features.header-nav-features-light:after, #header .header-nav-features.header-nav-features-light:before {
        background: rgba(255, 255, 255, .1)
    }

    #header .header-nav-features:not(.header-nav-features-no-border):after, #header .header-nav-features:not(.header-nav-features-no-border):before {
        content: ''
    }

    #header .header-nav-features:not(.header-nav-features-no-border):after {
        display: none
    }

    #header .header-nav-features.header-nav-features-show-border:after, #header .header-nav-features.header-nav-features-show-border:before {
        content: ''
    }

@media (min-width:576px) {
    #header .header-nav-features.header-nav-features-sm-show-border:after, #header .header-nav-features.header-nav-features-sm-show-border:before {
        content: ''
    }
}

@media (min-width:768px) {
    #header .header-nav-features.header-nav-features-md-show-border:after, #header .header-nav-features.header-nav-features-md-show-border:before {
        content: ''
    }
}

@media (min-width:992px) {
    #header .header-nav-features.header-nav-features-lg-show-border:after, #header .header-nav-features.header-nav-features-lg-show-border:before {
        content: ''
    }
}

#header .header-nav-features.header-nav-features-start {
    padding-left: 0;
    margin-left: 0;
    padding-right: 20px;
    margin-right: 10px
}

    #header .header-nav-features.header-nav-features-start:not(.header-nav-features-no-border):before {
        left: auto;
        right: 0
    }

#header .header-nav-features.header-nav-features-center {
    padding-left: 20px;
    margin-left: 10px;
    padding-right: 20px;
    margin-right: 10px
}

    #header .header-nav-features.header-nav-features-center:after {
        display: block;
        left: auto;
        right: 0
    }

#header .header-nav-features .header-nav-top-icon, #header .header-nav-features .header-nav-top-icon-img {
    font-size: 12.8px;
    font-size: .8rem;
    position: relative;
    top: -1px;
    color: #444
}

#header .header-nav-features.header-nav-features-light .header-nav-top-icon, #header .header-nav-features.header-nav-features-light .header-nav-top-icon-img {
    color: #fff
}

#header .header-nav-features .header-nav-top-icon-img {
    top: -2px
}

#header .header-nav-features .header-nav-feature {
    position: relative
}

#header .header-social-icons {
    margin-left: 16px;
    margin-left: 1rem
}

#header .header-border-left {
    border-left: 1px solid rgba(0, 0, 0, .08)
}

#header .header-border-right {
    border-right: 1px solid rgba(0, 0, 0, .08)
}

#header .header-border-top {
    border-top: 1px solid rgba(0, 0, 0, .08)
}

#header .header-border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, .08)
}

@media (max-width:991px) {
    #header .header-mobile-border-top:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, .08)
    }
}

#header .header-btn-collapse-nav {
    background: #ccc;
    color: #fff;
    display: none;
    float: right;
    margin: 0 0 0 16px;
    margin: 0 0 0 1rem
}

#header.header-narrow .header-body {
    min-height: 0
}

#header.header-narrow .header-logo {
    margin-top: 0;
    margin-bottom: 0
}

#header.header-narrow .header-nav {
    padding-top: 0;
    padding-bottom: 0
}

#header.header-no-border-bottom .header-body {
    padding-bottom: 0 !important;
    border-bottom: 0 !important
}

#header.header-no-border-bottom .header-nav.header-nav-line nav > ul > li:hover > a, #header.header-no-border-bottom .header-nav.header-nav-line nav > ul > li > a {
    margin: 0
}

#header.header-effect-shrink {
    transition: ease height .3s
}

    #header.header-effect-shrink .header-top {
        transition: ease height .3s
    }

    #header.header-effect-shrink .header-container {
        min-height: 100px
    }

    #header.header-effect-shrink .header-logo {
        display: flex;
        align-items: center
    }

#header.header-dark .header-body {
    background: #212529
}

html #header.header-bottom-slider {
    position: absolute;
    bottom: 0
}

    html #header.header-bottom-slider .header-body {
        border-top: 1px solid rgba(255, 255, 255, .4)
    }

    html #header.header-bottom-slider.header-transparent-light-top-border .header-body {
        border-top: 1px solid rgba(68, 68, 68, .4)
    }

    html #header.header-bottom-slider.header-transparent-light-top-border-1 .header-body {
        border-top: 1px solid rgba(68, 68, 68, .1)
    }

    html #header.header-bottom-slider.header-transparent-dark-top-border .header-body {
        border-top: 1px solid rgba(255, 255, 255, .4)
    }

    html #header.header-bottom-slider.header-transparent-dark-top-border-1 .header-body {
        border-top: 1px solid rgba(255, 255, 255, .1)
    }

html.sticky-header-active #header.header-bottom-slider .header-body {
    border-top-color: transparent
}

@media (max-width:991px) {
    html #header.header-bottom-slider .header-nav-main {
        top: calc(100% + 15px)
    }

    html.sticky-header-active #header.header-bottom-slider .header-nav-main {
        top: 100%
    }
}

html #header.header-transparent {
    min-height: 0 !important;
    width: 100%;
    position: absolute
}

    html #header.header-transparent .header-body:not(.header-border-bottom) {
        border-bottom: 0
    }

html:not(.sticky-header-active) #header.header-transparent:not(.header-semi-transparent) .header-body {
    background-color: transparent !important
}

html:not(.sticky-header-active) #header.header-semi-transparent-light .header-body {
    background-color: rgba(255, 255, 255, .8) !important
}

html:not(.sticky-header-active) #header.header-semi-transparent-dark .header-body {
    background-color: rgba(68, 68, 68, .4) !important
}

html:not(.sticky-header-active) #header.header-transparent-light-bottom-border .header-body {
    border-bottom: 1px solid rgba(68, 68, 68, .4)
}

html:not(.sticky-header-active) #header.header-transparent-light-bottom-border-1 .header-body {
    border-bottom: 1px solid rgba(68, 68, 68, .1)
}

html:not(.sticky-header-active) #header.header-transparent-dark-bottom-border .header-body {
    border-bottom: 1px solid rgba(255, 255, 255, .4)
}

html:not(.sticky-header-active) #header.header-transparent-dark-bottom-border-1 .header-body {
    border-bottom: 1px solid rgba(255, 255, 255, .1)
}

@media (max-width:991px) {
    html #header.header-transparent .header-body {
        overflow: hidden
    }

        html #header.header-transparent .header-body.bg-color-dark .header-nav-main:before, html #header.header-transparent .header-body.bg-dark .header-nav-main:before {
            background-color: #212529
        }

    html #header.header-transparent .header-nav-main:before {
        width: calc(100% - 30px)
    }

    html #header.header-transparent .header-nav-main nav {
        padding: 0 30px
    }

    html.sticky-header-active #header.header-transparent .header-nav-main nav {
        padding: 0 15px
    }
}

html.sticky-header-active #header .header-body {
    position: fixed;
    border-bottom-color: rgba(234, 234, 234, .5);
    box-shadow: 0 0 3px rgba(234, 234, 234, .5)
}

    html.sticky-header-active #header .header-body.header-body-bottom-border {
        border-bottom: 1px solid rgba(234, 234, 234, .5) !important
    }

html.sticky-header-active #header.header-effect-shrink .header-body {
    position: relative
}

html.sticky-header-enabled #header .header-logo-sticky-change {
    position: relative
}

    html.sticky-header-enabled #header .header-logo-sticky-change img {
        position: absolute;
        top: 0;
        left: 0
    }

    html.sticky-header-enabled #header .header-logo-sticky-change .header-logo-non-sticky {
        opacity: 1 !important
    }

    html.sticky-header-enabled #header .header-logo-sticky-change .header-logo-sticky {
        opacity: 0 !important
    }

html.sticky-header-enabled.sticky-header-active #header .header-logo-sticky-change .header-logo-non-sticky {
    opacity: 0 !important
}

html.sticky-header-enabled.sticky-header-active #header .header-logo-sticky-change .header-logo-sticky {
    opacity: 1 !important
}

@media (min-width:992px) {
    #header .header-nav-main {
        display: flex !important;
        height: auto !important
    }

        #header .header-nav-main nav {
            display: flex !important
        }

            #header .header-nav-main nav > ul > li {
                height: 100%;
                align-self: stretch;
                margin-left: 2px
            }

                #header .header-nav-main nav > ul > li > a {
                    display: inline-flex;
                    align-items: center;
                    white-space: normal;
                    border-radius: 4px;
                    color: #ccc;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 700;
                    padding: .5rem 1rem;
                    letter-spacing: -.5px;
                    text-transform: uppercase
                }

                    #header .header-nav-main nav > ul > li > a:after {
                        display: none
                    }

                    #header .header-nav-main nav > ul > li > a:active {
                        background-color: transparent;
                        text-decoration: none;
                        color: #ccc
                    }

                    #header .header-nav-main nav > ul > li > a.active {
                        background-color: transparent
                    }

                #header .header-nav-main nav > ul > li:hover > a {
                    background: #ccc;
                    color: #fff
                }

        #header .header-nav-main.header-nav-main-square nav > ul > li > a {
            border-radius: 0 !important
        }

        #header .header-nav-main.header-nav-main-font-sm nav > ul > li > a {
            font-size: .7rem
        }

        #header .header-nav-main.header-nav-main-font-md nav > ul > li > a {
            font-size: 1rem;
            font-weight: 600;
            text-transform: none;
            letter-spacing: -1px
        }

        #header .header-nav-main.header-nav-main-font-lg nav > ul > li > a {
            font-size: 1.1rem;
            font-weight: 400;
            text-transform: none;
            letter-spacing: -1px
        }

        #header .header-nav-main.header-nav-main-dark nav > ul > li > a {
            color: #444
        }

        #header .header-nav-main.header-nav-main-slide nav > ul > li > a {
            background-color: transparent;
            color: #fff;
            text-transform: none;
            font-size: 14px;
            font-weight: 500;
            padding: 18px 18px 22px !important;
            margin: 0 !important;
            transition: ease transform .3s
        }
}

@media (min-width:992px) {
    #header .header-nav-main.header-nav-main-slide nav > ul > li > span {
        display: flex;
        position: relative;
        height: 100%;
        overflow: hidden
    }

        #header .header-nav-main.header-nav-main-slide nav > ul > li > span > a {
            display: flex;
            align-items: center;
            white-space: normal;
            border-radius: 4px;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: -.5px;
            text-transform: uppercase;
            position: relative;
            background: 0 0 !important;
            color: #444;
            padding: 0 .9rem;
            margin: 1px 0 0;
            min-height: 60px;
            height: 100%;
            transition: ease all .3s;
            transform: translateY(0)
        }

            #header .header-nav-main.header-nav-main-slide nav > ul > li > span > a.active:first-child {
                transform: translateY(-40%);
                opacity: 0
            }

    #header .header-nav-main.header-nav-main-slide nav > ul > li:hover > span > a:first-child {
        transform: translateY(-40%);
        opacity: 0
    }

    #header .header-nav-main.header-nav-main-text-size-2 nav > ul > li > a {
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 0
    }

    #header .header-nav {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: flex-end;
        align-self: stretch
    }

        #header .header-nav.header-nav-stripe {
            padding: 0
        }

            #header .header-nav.header-nav-stripe .header-nav-main {
                align-self: stretch;
                margin-top: -1px;
                min-height: 0
            }

            #header .header-nav.header-nav-stripe nav {
                display: flex
            }

                #header .header-nav.header-nav-stripe nav > ul > li {
                    display: inline-flex;
                    align-self: stretch
                }

                    #header .header-nav.header-nav-stripe nav > ul > li > a {
                        background: 0 0;
                        padding: 0 .9rem;
                        margin: 1px 0 0;
                        height: 100%
                    }

                        #header .header-nav.header-nav-stripe nav > ul > li > a.active {
                            color: #333;
                            background: 0 0
                        }

                    #header .header-nav.header-nav-stripe nav > ul > li:hover > a, #header .header-nav.header-nav-stripe nav > ul > li:hover > a.active {
                        color: #fff;
                        padding-bottom: 0
                    }

            #header .header-nav.header-nav-stripe.header-nav-main-dark nav > ul > li:hover > a {
                color: #fff !important
            }

            #header .header-nav.header-nav-stripe nav > ul:not(:hover) > li > a.active {
                color: #fff !important
            }

            #header .header-nav.header-nav-stripe nav > ul > li:hover > a.active {
                color: #fff !important
            }

        #header .header-nav.header-nav-line {
            padding: 0
        }

            #header .header-nav.header-nav-line .header-nav-main {
                align-self: stretch;
                min-height: 0;
                margin-top: 0
            }

            #header .header-nav.header-nav-line nav > ul > li:hover > a, #header .header-nav.header-nav-line nav > ul > li > a {
                position: relative;
                background: 0 0 !important;
                padding: 0 .9rem;
                margin: 1px 0 0;
                min-height: 60px;
                height: 100%
            }

                #header .header-nav.header-nav-line nav > ul > li:hover > a:before {
                    opacity: 1
                }

                #header .header-nav.header-nav-line nav > ul > li > a.active {
                    background: 0 0
                }

                    #header .header-nav.header-nav-line nav > ul > li > a.active:before {
                        opacity: 1
                    }

            #header .header-nav.header-nav-line:not(.header-nav-light-text) nav > ul > li > a {
                color: #444
            }

            #header .header-nav.header-nav-line.header-nav-light-text nav > ul > li > a {
                color: #fff
            }

            #header .header-nav.header-nav-line nav > ul > li:hover > a:before, #header .header-nav.header-nav-line nav > ul > li > a:before {
                content: "";
                position: absolute;
                background: 0 0;
                width: auto;
                height: 3px;
                top: -2px;
                left: -1px;
                right: -1px;
                opacity: 0
            }

            #header .header-nav.header-nav-line nav > ul > li:hover > a:before {
                opacity: 1 !important
            }

            #header .header-nav.header-nav-line.header-nav-top-line nav > ul > li:hover > a:before, #header .header-nav.header-nav-line.header-nav-top-line nav > ul > li > a:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 3px;
                top: -2px;
                left: 0
            }

            #header .header-nav.header-nav-line.header-nav-top-line.header-nav-top-line-with-border nav > ul > li:hover > a:before, #header .header-nav.header-nav-line.header-nav-top-line.header-nav-top-line-with-border nav > ul > li > a:before {
                top: -4px
            }

            #header .header-nav.header-nav-line.header-nav-bottom-line nav > ul > li:hover > a:before, #header .header-nav.header-nav-line.header-nav-bottom-line nav > ul > li > a:before {
                content: "";
                position: absolute;
                width: auto;
                height: 3px;
                top: 50%;
                left: 15px;
                right: 15px;
                margin-top: 15px;
                transform: translate3d(0, -50%, 0)
            }

            #header .header-nav.header-nav-line.header-nav-bottom-line.header-nav-bottom-line-effect-1 nav > ul > li > a:before {
                transition: cubic-bezier(.55, 0, .1, 1) right .3s;
                right: 100%
            }

            #header .header-nav.header-nav-line.header-nav-bottom-line.header-nav-bottom-line-effect-1 nav > ul > li > a.active:before {
                right: 15px
            }

            #header .header-nav.header-nav-line.header-nav-bottom-line.header-nav-bottom-line-effect-1 nav > ul > li:hover > a:before {
                right: 15px
            }

        #header .header-nav.header-nav-icons nav > ul > li > a .icons, #header .header-nav.header-nav-icons nav > ul > li > a [class*=fa-] {
            font-size: 1.1rem;
            margin-right: .28rem;
            margin-top: .1rem
        }

        #header .header-nav.header-nav-sub-title .header-nav-main nav > ul > li > a {
            position: relative;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding-right: 0;
            padding-left: 0;
            margin-left: .7rem;
            margin-right: .7rem
        }

            #header .header-nav.header-nav-sub-title .header-nav-main nav > ul > li > a > span {
                font-size: .9em;
                text-transform: none;
                font-weight: 400;
                margin-top: .3rem
            }

            #header .header-nav.header-nav-sub-title .header-nav-main nav > ul > li > a > span {
                margin-top: -.5rem
            }
}

@media (min-width:992px) {
    #header .header-nav-main-dark-text nav > .nav-pills > li > a {
        color: #333
    }
}

@media (min-width:992px) {
    #header .header-nav-main-rounded nav > .nav-pills > li > a {
        justify-content: center;
        align-self: center;
        border-radius: 1.5rem
    }

        #header .header-nav-main-rounded nav > .nav-pills > li > a:before {
            display: none !important
        }
}

@media (min-width:992px) {
    #header.header-narrow .header-nav.header-nav-line nav > ul > li > a, #header.header-narrow .header-nav.header-nav-stripe nav > ul > li > a {
        min-height: 60px
    }
}

@media (min-width:992px) {
    #header .header-nav-main.header-nav-main-light nav > ul > li > a {
        color: #fff
    }

        #header .header-nav-main.header-nav-main-light nav > ul > li > a.active {
            color: #ccc;
            background: #fff
        }

    #header .header-nav-main.header-nav-main-light nav > ul > li.active > a, #header .header-nav-main.header-nav-main-light nav > ul > li:hover > a {
        background: #fff
    }

    #header .header-nav-main.header-nav-main-light nav > ul > li.active > a {
        background: #fff
    }
}

@media (max-width:991px) {
    #header .header-nav-main {
        position: absolute;
        background: 0 0;
        width: 100%;
        top: 100%;
        left: 50%;
        transform: translate3d(-50%, 0, 0)
    }

        #header .header-nav-main:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            width: 100vw;
            height: 100%;
            background: #fff;
            z-index: -1;
            transform: translateX(-50%)
        }

        #header .header-nav-main nav {
            max-height: 50vh;
            overflow: hidden;
            overflow-y: auto;
            padding: 0 15px;
            transition: ease all .5s
        }

            #header .header-nav-main nav::-webkit-scrollbar {
                width: 5px
            }

            #header .header-nav-main nav::-webkit-scrollbar-thumb {
                border-radius: 0;
                background: rgba(204, 204, 204, .5)
            }

            #header .header-nav-main nav > ul {
                padding-top: 15px;
                padding-bottom: 15px;
                flex-direction: column
            }

                #header .header-nav-main nav > ul li {
                    border-bottom: 1px solid #e8e8e8;
                    clear: both;
                    display: block;
                    float: none;
                    margin: 0;
                    padding: 0;
                    position: relative
                }

                    #header .header-nav-main nav > ul li a {
                        font-size: 13px;
                        font-style: normal;
                        line-height: 20px;
                        padding: 7px 8px;
                        margin: 1px 0;
                        border-radius: 4px;
                        text-align: left
                    }

                        #header .header-nav-main nav > ul li a:active {
                            background-color: #f8f9fa;
                            color: inherit
                        }

                    #header .header-nav-main nav > ul li:last-child {
                        border-bottom: 0
                    }

                #header .header-nav-main nav > ul > li > a {
                    text-transform: uppercase;
                    font-weight: 700;
                    margin-top: 1px;
                    margin-bottom: 1px;
                    color: #ccc
                }

                    #header .header-nav-main nav > ul > li > a:active {
                        color: #ccc
                    }

                    #header .header-nav-main nav > ul > li > a.active {
                        color: #fff !important;
                        background: #ccc
                    }

                        #header .header-nav-main nav > ul > li > a.active:focus, #header .header-nav-main nav > ul > li > a.active:hover {
                            color: #fff;
                            background: #ccc
                        }

        #header .header-nav-main.header-nav-main-square nav > ul > li a {
            border-radius: 0 !important
        }

    #header .header-btn-collapse-nav {
        outline: 0;
        display: block;
        position: relative;
        z-index: 1
    }

    #header .header-nav.header-nav-stripe {
        min-height: 90px
    }

    #header .header-nav.header-nav-line {
        min-height: 70px
    }

    #header .header-nav.header-nav-sub-title .header-nav-main nav > ul > li > a > span {
        display: block;
        text-transform: none;
        font-weight: 400
    }
}

@media (max-width:991px) {
    #header .header-nav-main.header-nav-main-mobile-dark:before {
        background-color: #212529
    }

    #header .header-nav-main.header-nav-main-mobile-dark nav > ul > li > a {
        color: #dedede
    }

        #header .header-nav-main.header-nav-main-mobile-dark nav > ul > li > a.active {
            color: #fff
        }

    #header .header-nav-main.header-nav-main-mobile-dark nav > ul li {
        border-bottom: 1px solid #3e3e3e
    }

        #header .header-nav-main.header-nav-main-mobile-dark nav > ul li:last-child {
            border-bottom: 0
        }

        #header .header-nav-main.header-nav-main-mobile-dark nav > ul li a:active, #header .header-nav-main.header-nav-main-mobile-dark nav > ul li a:focus, #header .header-nav-main.header-nav-main-mobile-dark nav > ul li a:hover {
            background-color: #2b2b2b
        }
}

@media (max-width:991px) {
    #header .header-nav-main.header-nav-main-dark-text nav > ul > li > a {
        color: #333
    }

        #header .header-nav-main.header-nav-main-dark-text nav > ul > li > a.active {
            color: #fff
        }
}

@media (min-width:992px) {
    #header .header-body:not(.h-100) {
        height: auto !important
    }
}

@media (max-width:991px) {
    #header .header-logo img {
        z-index: 1
    }

    #header .header-nav {
        display: flex;
        align-items: center
    }

    #header.header-narrow .header-nav.header-nav-stripe {
        min-height: 70px
    }
}

@media (min-width:992px) and (max-width:1199px) {
    html:not(.side-header-disable-offcanvas).side-header:not(.side-header-above) body > .body {
        margin: 0
    }
}

body[data-plugin-section-scroll] #header .header-body {
    background: 0 0
}

@media (max-width:991px) {
    html.safari #header .header-body {
        overflow: visible !important
    }
}

.page-header {
    background-color: #212529;
    margin: 0 0 35px 0;
    padding: 30px 0;
    position: relative;
    text-align: left
}

    .page-header h1 {
        color: #fff;
        display: inline-block;
        font-size: 30px;
        line-height: 1;
        margin: 0;
        padding: 0;
        font-weight: 400;
        position: relative;
        top: 1px
    }

    .page-header .sub-title {
        display: block;
        font-size: 1.2em;
        font-weight: 300;
        margin: 0;
        opacity: .8;
        color: #fff
    }

    .page-header.page-header-sm {
        padding: 30px 0
    }

        .page-header.page-header-sm h1 {
            font-size: 22px
        }

    .page-header.page-header-lg {
        padding: 50px 0
    }

        .page-header.page-header-lg h1 {
            font-size: 40px
        }

.p-relative {
    position: relative !important
}

.p-absolute {
    position: absolute !important
}

.text-0 {
    font-size: .7em !important
}

.text-1 {
    font-size: .8em !important
}

.text-2 {
    font-size: .9em !important
}

.text-2-3 {
    font-size: .95em !important
}

.text-3 {
    font-size: 1em !important
}

.text-3-4 {
    font-size: 1.1em !important
}

.text-4 {
    font-size: 1.2em !important
}

.text-4-5 {
    font-size: 1.35em !important
}

.text-5 {
    font-size: 1.5em !important
}

.text-5-6 {
    font-size: 1.65em !important
}

.text-6 {
    font-size: 1.8em !important
}

.text-6-7 {
    font-size: 1.9em !important
}

.text-7 {
    font-size: 2em !important
}

.text-8 {
    font-size: 2.3em !important
}

.text-9 {
    font-size: 2.5em !important
}

.text-10 {
    font-size: 2.75em !important
}

.text-11 {
    font-size: 3em !important
}

.text-12 {
    font-size: 3.5em !important
}

.text-12-13 {
    font-size: 3.75em !important
}

.text-13 {
    font-size: 4em !important
}

.text-14 {
    font-size: 4.5em !important
}

.text-15 {
    font-size: 5em !important
}

@media (min-width:576px) {
    .text-sm-0 {
        font-size: .7em !important
    }

    .text-sm-1 {
        font-size: .8em !important
    }

    .text-sm-2 {
        font-size: .9em !important
    }

    .text-sm-2-3 {
        font-size: .95em !important
    }

    .text-sm-3 {
        font-size: 1em !important
    }

    .text-sm-3-4 {
        font-size: 1.1em !important
    }

    .text-sm-4 {
        font-size: 1.2em !important
    }

    .text-sm-4-5 {
        font-size: 1.35em !important
    }

    .text-sm-5 {
        font-size: 1.5em !important
    }

    .text-sm-5-6 {
        font-size: 1.65em !important
    }

    .text-sm-6 {
        font-size: 1.8em !important
    }

    .text-sm-6-7 {
        font-size: 1.9em !important
    }

    .text-sm-7 {
        font-size: 2em !important
    }

    .text-sm-8 {
        font-size: 2.3em !important
    }

    .text-sm-9 {
        font-size: 2.5em !important
    }

    .text-sm-10 {
        font-size: 2.75em !important
    }

    .text-sm-11 {
        font-size: 3em !important
    }

    .text-sm-12 {
        font-size: 3.5em !important
    }

    .text-sm-12-13 {
        font-size: 3.75em !important
    }

    .text-sm-13 {
        font-size: 4em !important
    }

    .text-sm-14 {
        font-size: 4.5em !important
    }

    .text-sm-15 {
        font-size: 5em !important
    }
}

@media (min-width:768px) {
    .text-md-0 {
        font-size: .7em !important
    }

    .text-md-1 {
        font-size: .8em !important
    }

    .text-md-2 {
        font-size: .9em !important
    }

    .text-md-2-3 {
        font-size: .95em !important
    }

    .text-md-3 {
        font-size: 1em !important
    }

    .text-md-3-4 {
        font-size: 1.1em !important
    }

    .text-md-4 {
        font-size: 1.2em !important
    }

    .text-md-4-5 {
        font-size: 1.35em !important
    }

    .text-md-5 {
        font-size: 1.5em !important
    }

    .text-md-5-6 {
        font-size: 1.65em !important
    }

    .text-md-6 {
        font-size: 1.8em !important
    }

    .text-md-6-7 {
        font-size: 1.9em !important
    }

    .text-md-7 {
        font-size: 2em !important
    }

    .text-md-8 {
        font-size: 2.3em !important
    }

    .text-md-9 {
        font-size: 2.5em !important
    }

    .text-md-10 {
        font-size: 2.75em !important
    }

    .text-md-11 {
        font-size: 3em !important
    }

    .text-md-12 {
        font-size: 3.5em !important
    }

    .text-md-12-13 {
        font-size: 3.75em !important
    }

    .text-md-13 {
        font-size: 4em !important
    }

    .text-md-14 {
        font-size: 4.5em !important
    }

    .text-md-15 {
        font-size: 5em !important
    }
}

@media (min-width:992px) {
    .text-lg-0 {
        font-size: .7em !important
    }

    .text-lg-1 {
        font-size: .8em !important
    }

    .text-lg-2 {
        font-size: .9em !important
    }

    .text-lg-2-3 {
        font-size: .95em !important
    }

    .text-lg-3 {
        font-size: 1em !important
    }

    .text-lg-3-4 {
        font-size: 1.1em !important
    }

    .text-lg-4 {
        font-size: 1.2em !important
    }

    .text-lg-4-5 {
        font-size: 1.35em !important
    }

    .text-lg-5 {
        font-size: 1.5em !important
    }

    .text-lg-5-6 {
        font-size: 1.65em !important
    }

    .text-lg-6 {
        font-size: 1.8em !important
    }

    .text-lg-6-7 {
        font-size: 1.9em !important
    }

    .text-lg-7 {
        font-size: 2em !important
    }

    .text-lg-8 {
        font-size: 2.3em !important
    }

    .text-lg-9 {
        font-size: 2.5em !important
    }

    .text-lg-10 {
        font-size: 2.75em !important
    }

    .text-lg-11 {
        font-size: 3em !important
    }

    .text-lg-12 {
        font-size: 3.5em !important
    }

    .text-lg-12-13 {
        font-size: 3.75em !important
    }

    .text-lg-13 {
        font-size: 4em !important
    }

    .text-lg-14 {
        font-size: 4.5em !important
    }

    .text-lg-15 {
        font-size: 5em !important
    }
}

.line-height-initial {
    line-height: initial !important
}

.line-height-1 {
    line-height: 1 !important
}

.line-height-1-1 {
    line-height: 1.1 !important
}

.line-height-2 {
    line-height: 1.2 !important
}

.line-height-3 {
    line-height: 1.3 !important
}

.line-height-4 {
    line-height: 1.4 !important
}

.line-height-5 {
    line-height: 1.5 !important
}

.line-height-6 {
    line-height: 1.6 !important
}

.line-height-7 {
    line-height: 1.7 !important
}

.line-height-8 {
    line-height: 1.8 !important
}

.line-height-9 {
    line-height: 1.9 !important
}

@media (min-width:576px) {
    .line-height-sm-initial {
        line-height: initial !important
    }

    .line-height-sm-1 {
        line-height: 1 !important
    }

    .line-height-sm-1-1 {
        line-height: 1.1 !important
    }

    .line-height-sm-2 {
        line-height: 1.2 !important
    }

    .line-height-sm-3 {
        line-height: 1.3 !important
    }

    .line-height-sm-4 {
        line-height: 1.4 !important
    }

    .line-height-sm-5 {
        line-height: 1.5 !important
    }

    .line-height-sm-6 {
        line-height: 1.6 !important
    }

    .line-height-sm-7 {
        line-height: 1.7 !important
    }

    .line-height-sm-8 {
        line-height: 1.8 !important
    }

    .line-height-sm-9 {
        line-height: 1.9 !important
    }
}

@media (min-width:768px) {
    .line-height-md-initial {
        line-height: initial !important
    }

    .line-height-md-1 {
        line-height: 1 !important
    }

    .line-height-md-1-1 {
        line-height: 1.1 !important
    }

    .line-height-md-2 {
        line-height: 1.2 !important
    }

    .line-height-md-3 {
        line-height: 1.3 !important
    }

    .line-height-md-4 {
        line-height: 1.4 !important
    }

    .line-height-md-5 {
        line-height: 1.5 !important
    }

    .line-height-md-6 {
        line-height: 1.6 !important
    }

    .line-height-md-7 {
        line-height: 1.7 !important
    }

    .line-height-md-8 {
        line-height: 1.8 !important
    }

    .line-height-md-9 {
        line-height: 1.9 !important
    }
}

@media (min-width:992px) {
    .line-height-lg-initial {
        line-height: initial !important
    }

    .line-height-lg-1 {
        line-height: 1 !important
    }

    .line-height-lg-1-1 {
        line-height: 1.1 !important
    }

    .line-height-lg-2 {
        line-height: 1.2 !important
    }

    .line-height-lg-3 {
        line-height: 1.3 !important
    }

    .line-height-lg-4 {
        line-height: 1.4 !important
    }

    .line-height-lg-5 {
        line-height: 1.5 !important
    }

    .line-height-lg-6 {
        line-height: 1.6 !important
    }

    .line-height-lg-7 {
        line-height: 1.7 !important
    }

    .line-height-lg-8 {
        line-height: 1.8 !important
    }

    .line-height-lg-9 {
        line-height: 1.9 !important
    }
}

.scale-1 {
    transform: scale(1.1) !important
}

.scale-2 {
    transform: scale(1.2) !important
}

.scale-3 {
    transform: scale(1.3) !important
}

.scale-4 {
    transform: scale(1.4) !important
}

.scale-5 {
    transform: scale(1.5) !important
}

.scale-6 {
    transform: scale(1.6) !important
}

.top-auto {
    top: auto !important
}

.top-50pct {
    top: 50%
}

.bottom-auto {
    top: auto !important
}

.left-50pct {
    left: 50%
}

.left-100pct {
    left: 100%
}

.right-100pct {
    right: 100%
}

.top-0 {
    top: 0 !important
}

.bottom-0 {
    bottom: 0 !important
}

.left-0 {
    left: 0 !important
}

.right-0 {
    right: 0 !important
}

.top-1 {
    top: 1px !important
}

.bottom-1 {
    bottom: 1px !important
}

.left-1 {
    left: 1px !important
}

.right-1 {
    right: 1px !important
}

.top-2 {
    top: 2px !important
}

.bottom-2 {
    bottom: 2px !important
}

.left-2 {
    left: 2px !important
}

.right-2 {
    right: 2px !important
}

.top-3 {
    top: 3px !important
}

.bottom-3 {
    bottom: 3px !important
}

.left-3 {
    left: 3px !important
}

.right-3 {
    right: 3px !important
}

.top-4 {
    top: 4px !important
}

.bottom-4 {
    bottom: 4px !important
}

.left-4 {
    left: 4px !important
}

.right-4 {
    right: 4px !important
}

.top-5 {
    top: 5px !important
}

.bottom-5 {
    bottom: 5px !important
}

.left-5 {
    left: 5px !important
}

.right-5 {
    right: 5px !important
}

.top-6 {
    top: 6px !important
}

.bottom-6 {
    bottom: 6px !important
}

.left-6 {
    left: 6px !important
}

.right-6 {
    right: 6px !important
}

.top-7 {
    top: 7px !important
}

.bottom-7 {
    bottom: 7px !important
}

.left-7 {
    left: 7px !important
}

.right-7 {
    right: 7px !important
}

.top-8 {
    top: 8px !important
}

.bottom-8 {
    bottom: 8px !important
}

.left-8 {
    left: 8px !important
}

.right-8 {
    right: 8px !important
}

.top-9 {
    top: 9px !important
}

.bottom-9 {
    bottom: 9px !important
}

.left-9 {
    left: 9px !important
}

.right-9 {
    right: 9px !important
}

.top-10 {
    top: 10px !important
}

.bottom-10 {
    bottom: 10px !important
}

.left-10 {
    left: 10px !important
}

.right-10 {
    right: 10px !important
}

.text-uppercase {
    text-transform: uppercase !important
}

.z-index-0 {
    z-index: 0 !important
}

.z-index-1 {
    z-index: 1 !important
}

.z-index-2 {
    z-index: 2 !important
}

.z-index-3 {
    z-index: 3 !important
}

@media (max-width:991px) {
    .z-index-mobile-0 {
        z-index: 0 !important
    }
}

.text-dark {
    color: #212529 !important
}

.text-light {
    color: #fff !important
}

.font-weight-light {
    font-weight: 300 !important
}

.rounded {
    border-radius: 5px !important
}

.w-auto {
    width: auto !important
}

.w-25pct {
    width: 25% !important
}

.w-50pct {
    width: 50% !important
}

.w-75pct {
    width: 75% !important
}

.w-100pct {
    width: 100% !important
}

@media (min-width:576px) {
    .w-sm-auto {
        width: auto !important
    }

    .w-sm-25pct {
        width: 25% !important
    }

    .w-sm-50pct {
        width: 50% !important
    }

    .w-sm-75pct {
        width: 75% !important
    }

    .w-sm-100pct {
        width: 100% !important
    }
}

@media (min-width:768px) {
    .w-md-auto {
        width: auto !important
    }

    .w-md-25pct {
        width: 25% !important
    }

    .w-md-50pct {
        width: 50% !important
    }

    .w-md-75pct {
        width: 75% !important
    }

    .w-md-100pct {
        width: 100% !important
    }
}

@media (min-width:992px) {
    .w-lg-auto {
        width: auto !important
    }

    .w-lg-25pct {
        width: 25% !important
    }

    .w-lg-50pct {
        width: 50% !important
    }

    .w-lg-75pct {
        width: 75% !important
    }

    .w-lg-100pct {
        width: 100% !important
    }
}

@media (max-width:991px) {
    .w-auto-mobile {
        width: auto !important
    }

    .w-100-mobile {
        width: 100% !important
    }
}

.min-width-0 {
    min-width: 0 !important
}

.col-1-5, .col-2-5, .col-3-5, .col-4-5, .col-lg-1-5, .col-lg-2-5, .col-lg-3-5, .col-lg-4-5, .col-md-1-5, .col-md-2-5, .col-md-3-5, .col-md-4-5, .col-sm-1-5, .col-sm-2-5, .col-sm-3-5, .col-sm-4-5 {
    position: relative;
    min-height: 1px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}

.col-1-5 {
    flex: 0 0 20%;
    max-width: 20%
}

.col-2-5 {
    flex: 0 0 40%;
    max-width: 40%
}

.col-3-5 {
    flex: 0 0 60%;
    max-width: 60%
}

.col-4-5 {
    flex: 0 0 80%;
    max-width: 80%
}

@media (min-width:576px) {
    .col-sm-1-5 {
        flex: 0 0 20%;
        max-width: 20%
    }

    .col-sm-2-5 {
        flex: 0 0 40%;
        max-width: 40%
    }

    .col-sm-3-5 {
        flex: 0 0 60%;
        max-width: 60%
    }

    .col-sm-4-5 {
        flex: 0 0 80%;
        max-width: 80%
    }
}

@media (min-width:768px) {
    .col-md-1-5 {
        flex: 0 0 20%;
        max-width: 20%
    }

    .col-md-2-5 {
        flex: 0 0 40%;
        max-width: 40%
    }

    .col-md-3-5 {
        flex: 0 0 60%;
        max-width: 60%
    }

    .col-md-4-5 {
        flex: 0 0 80%;
        max-width: 80%
    }
}

@media (min-width:992px) {
    .col-lg-1-5 {
        flex: 0 0 20%;
        max-width: 20%
    }

    .col-lg-2-5 {
        flex: 0 0 40%;
        max-width: 40%
    }

    .col-lg-3-5 {
        flex: 0 0 60%;
        max-width: 60%
    }

    .col-lg-4-5 {
        flex: 0 0 80%;
        max-width: 80%
    }
}

#footer {
    background: #212529;
    border-top: 4px solid #212529;
    font-size: .9em;
    margin-top: 50px;
    padding: 0;
    position: relative;
    clear: both
}

    #footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
        color: #fff
    }

    #footer a:not(.btn):not(.no-footer-css) {
        color: #a2a2a2;
        transition: all .1s ease-in-out
    }

        #footer a:not(.btn):not(.no-footer-css):hover {
            text-decoration: none;
            color: #fff
        }

        #footer a:not(.btn):not(.no-footer-css):active, #footer a:not(.btn):not(.no-footer-css):focus {
            color: #ccc
        }

        #footer a:not(.btn):not(.no-footer-css).text-color-light {
            color: #fff !important
        }

            #footer a:not(.btn):not(.no-footer-css).text-color-light:hover {
                color: #e6e5e5 !important
            }

            #footer a:not(.btn):not(.no-footer-css).text-color-light:active, #footer a:not(.btn):not(.no-footer-css).text-color-light:focus {
                color: #ccc !important
            }

        #footer a:not(.btn):not(.no-footer-css).text-color-default {
            color: #777 !important
        }

            #footer a:not(.btn):not(.no-footer-css).text-color-default:hover {
                color: #919090 !important
            }

            #footer a:not(.btn):not(.no-footer-css).text-color-default:active, #footer a:not(.btn):not(.no-footer-css).text-color-default:focus {
                color: #5e5d5d !important
            }

        #footer a:not(.btn):not(.no-footer-css).link-hover-style-1 {
            position: relative;
            left: 0;
            transition: all .1s ease-in-out
        }

            #footer a:not(.btn):not(.no-footer-css).link-hover-style-1:hover {
                left: 3px
            }

    #footer ul.nav-list > li a {
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        line-height: 20px;
        padding-bottom: 11px
    }

    #footer ul.nav-list > li:last-child a {
        border-bottom: 0
    }

    #footer ul.nav-list > li a:hover {
        background-color: rgba(255, 255, 255, .05)
    }

    #footer ul.list.icons li {
        margin-bottom: 5px
    }

    #footer .footer-nav nav {
        display: flex
    }

        #footer .footer-nav nav > ul {
            display: flex;
            flex-wrap: wrap;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none
        }

            #footer .footer-nav nav > ul > li {
                position: relative;
                height: 100%;
                align-self: stretch
            }

                #footer .footer-nav nav > ul > li > a {
                    position: relative;
                    background: 0 0;
                    padding: 0 14.4px;
                    padding: 0 .9rem;
                    margin: 0;
                    height: 100%;
                    display: inline-flex;
                    align-items: center;
                    white-space: normal;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 700;
                    letter-spacing: -.5px;
                    text-transform: uppercase;
                    color: #fff;
                    text-decoration: none
                }

@media (min-width:768px) {
    #footer .footer-nav.footer-nav-bottom-line nav > ul > li > a:before {
        content: "";
        position: absolute;
        width: auto;
        height: 3px;
        top: 50%;
        left: .85rem;
        right: .85rem;
        margin-top: 15px;
        transform: translate3d(0, -50%, 0)
    }
}

@media (max-width:991px) {
    #footer .footer-nav {
        width: 100%
    }

        #footer .footer-nav nav {
            text-align: center
        }

            #footer .footer-nav nav > ul {
                width: 100%
            }

                #footer .footer-nav nav > ul > li > a {
                    text-align: center;
                    padding: 5px 12px
                }
}

@media (max-width:767px) {
    #footer .footer-nav {
        width: 100%
    }

        #footer .footer-nav nav {
            text-align: center
        }

            #footer .footer-nav nav > ul {
                width: 100%
            }

                #footer .footer-nav nav > ul > li {
                    height: auto;
                    width: 100%
                }

                    #footer .footer-nav nav > ul > li > a {
                        text-align: center;
                        padding: 1em 0
                    }
}

#footer form {
    opacity: .85
}

    #footer form .alert {
        padding: 6px;
        text-align: center
    }

#footer .logo img {
    position: relative;
    top: 2px
}

#footer .footer-bg-color-2 {
    background: #1c2023
}

#footer .footer-copyright {
    background: #1c2023
}

    #footer .footer-copyright nav {
        font-size: .9em
    }

        #footer .footer-copyright nav ul {
            list-style: none;
            margin: 0;
            padding: 0
        }

            #footer .footer-copyright nav ul li {
                display: inline-block;
                line-height: 12px;
                margin: 0;
                padding: 0 8px
            }

                #footer .footer-copyright nav ul li:first-child {
                    border: medium none;
                    padding-left: 0
                }

                #footer .footer-copyright nav ul li:last-child {
                    padding-right: 0
                }

    #footer .footer-copyright p {
        color: #555;
        margin: 0;
        padding: 0;
        font-size: .9em
    }

    #footer .footer-copyright.footer-copyright-style-2 {
        background: #212529;
        border-top: 1px solid rgba(255, 255, 255, .05)
    }

.footer-top-border {
    border-top: 1px solid rgba(0, 0, 0, .05) !important
}

.footer-bottom-border {
    border-bottom: 1px solid rgba(0, 0, 0, .05) !important
}

.footer-left-border {
    border-left: 1px solid rgba(0, 0, 0, .05) !important
}

.footer-right-border {
    border-right: 1px solid rgba(0, 0, 0, .05) !important
}

.footer-top-light-border {
    border-top: 1px solid rgba(255, 255, 255, .05) !important
}

.footer-bottom-light-border {
    border-bottom: 1px solid rgba(255, 255, 255, .05) !important
}

.footer-left-light-border {
    border-left: 1px solid rgba(255, 255, 255, .05) !important
}

.footer-right-light-border {
    border-right: 1px solid rgba(255, 255, 255, .05) !important
}

html.dark .body, html.dark body {
    background-color: #212529
}

html.dark #header .header-top {
    background: #2c3237;
    border-bottom-color: #333940
}

html.dark #header .header-body {
    background: #212529;
    border-top-color: #333940
}

html.dark #header .header-nav-top .nav > li > a a:focus, html.dark #header .header-nav-top .nav > li > a:hover {
    background-color: #262a2f
}

html.dark #header .header-nav-features .header-nav-top-icon, html.dark #header .header-nav-features .header-nav-top-icon-img {
    color: #fff
}

html.dark.sticky-header-active #header .header-body {
    border-bottom-color: #333940;
    box-shadow: none
}

html.dark h1, html.dark h2, html.dark h3, html.dark h4, html.dark h5, html.dark h6 {
    color: #fff
}

html.dark .alert h1, html.dark .alert h2, html.dark .alert h3, html.dark .alert h4, html.dark .alert h5, html.dark .alert h6 {
    color: #111
}

html.dark blockquote {
    border-color: #2c3237
}

html.dark section.section {
    background-color: #262a2f;
    border-top-color: #2c3237
}

html.dark .tab-content {
    background: #333940;
    border-color: #212529
}

html.dark .nav > li > a:focus, html.dark .nav > li > a:hover {
    background-color: #333940
}

html.dark .call-to-action.call-to-action-default {
    background: #2c3237
}

html.dark .call-to-action.call-to-action-dark {
    background: #333940
}

html.dark form:not(.form-style-4) .form-control {
    background-color: #2c3237;
    border-color: #2c3237
}

html.dark form.form-style-4 .form-control {
    border-bottom-color: #3c3c3c
}

html.dark .btn-light {
    background-color: #2c3237;
    border-color: #2c3237;
    color: #fff
}

html.dark .btn[disabled], html.dark .btn[disabled]:active, html.dark .btn[disabled]:focus, html.dark .btn[disabled]:hover {
    border-color: #2c3237 !important
}

html.dark section.section-custom-map {
    background-color: #212529
}

    html.dark section.section-custom-map section.section {
        background: rgba(38, 42, 47, .8)
    }

html.dark .home-concept {
    background-image: url(../img/home/home-concept-dark.png)
}

html.dark .page-header {
    border-bottom-color: #1c2023
}

html.dark .page-header-light {
    background-color: #333940
}

html.dark .toggle > .toggle-title {
    background-color: #333940
}

html.dark .toggle.toggle-simple .toggle > .toggle-title {
    color: #fff
}

html.dark .feature-box.feature-box-style-2 h4, html.dark .feature-box.feature-box-style-3 h4, html.dark .feature-box.feature-box-style-4 h4 {
    color: #fff
}

html.dark .feature-box.feature-box-style-6 .feature-box-icon {
    border-color: #333940
}

    html.dark .feature-box.feature-box-style-6 .feature-box-icon:after {
        border-color: #333940
    }

html.dark .owl-carousel.top-border {
    border-top-color: #3f4247
}

html.dark .arrow {
    background-image: url(../img/arrows-dark.png)
}

html.dark .thumb-info {
    background-color: #2c3237;
    border-color: #2c3237
}

    html.dark .thumb-info .thumb-info-wrapper:after {
        background-color: rgba(33, 37, 41, .9)
    }

html.dark .thumb-info-social-icons {
    border-top-color: #3c444b
}

html.dark ul.nav-list > li a {
    border-bottom-color: #2c3237
}

    html.dark ul.nav-list > li a:hover {
        background-color: #2c3237
    }

html.dark .testimonial .testimonial-author strong {
    color: #fff
}

html.dark .testimonial.testimonial-style-3 blockquote {
    background: #333940 !important
}

html.dark .testimonial.testimonial-style-4 {
    border-color: #333940 !important
}

html.dark .testimonial.testimonial-style-5 .testimonial-author {
    border-top-color: #333940 !important
}

html.dark .page-header {
    border-bottom-color: #2c3237
}

html.dark .alert.alert-default {
    border-color: #333940;
    background-color: #2c3237
}

html.dark ul.simple-post-list li {
    border-bottom-color: #262a2f
}

html.dark .post-block {
    border-top-color: #1c2023
}

@media (min-width:992px) {
    html.dark #header .header-nav.header-nav-stripe nav > ul > li > a {
        color: #ccc
    }

    html.dark #header .header-nav.header-nav-stripe nav > ul > li:hover > a {
        color: #fff
    }

    html.dark #header .header-nav.header-nav-line nav > ul > li:hover > a, html.dark #header .header-nav.header-nav-line nav > ul > li > a {
        color: #ccc
    }
}

@media (max-width:991px) {
    html.dark #header .header-nav-main:before {
        background-color: #212529
    }

    html.dark #header .header-nav-main nav::-webkit-scrollbar-thumb {
        border-color: transparent;
        background: #39404c
    }

    html.dark #header .header-nav-main nav > ul li {
        border-bottom-color: #333940
    }

    html.dark #header .header-nav-main nav ul li a:active {
        background-color: #1e1e1e;
        color: #fff
    }

    html.dark .home-concept {
        background-image: none;
    }
}