@{
    ViewBag.Title = "O nama";
}

@section meta{
    <meta name="description" content="BauMax d.o.o. je kvalitetan, profesionalan i odvažan tim koji se ne boji izazova i spremni smo da brzo i efikasno odgovorimo na zahtjeve koji se svakodnevno postavljaju pred izvođače radova a ogledaju se u novim potrebama tržišta. Osnovnu djelatnost firme predstavlja uvođenje instalacija vodovoda, kanalizacija, plina za grijanje i klimatizaciju." />
    <link href="https://www.baumax.ba/o-nama" rel="canonical" />
    <meta property="og:url" content="https://www.baumax.ba/o-nama" />
    <meta property="og:title" content="BauMax d.o.o. Instalacija sistema za klimatizaciju, vodovod i kanalizaciju" />
    <meta property="og:description" content="BauMax d.o.o. je kvalitetan, profesionalan i odvažan tim koji se ne boji izazova i spremni smo da brzo i efikasno odgovorimo na zahtjeve koji se svakodnevno postavljaju pred izvođače radova a ogledaju se u novim potrebama tržišta. Osnovnu djelatnost firme predstavlja uvođenje instalacija vodovoda, kanalizacija, plina za grijanje i klimatizaciju." />
    <meta property="og:image:alt" content="BAUMAX" />
    <meta property="og:type" content="website" />
}

<div role="main" class="main">
    <section class="section section-tertiary section-no-border pb-3 mt-0">
        <div class="container">
            <div class="row justify-content-end mt-4">
                <div class="col-lg-10 pt-4 mt-4 text-right">
                    <h1 class="text-uppercase font-weight-light mt-4 pt-3 text-color-primary">BauMax - O nama</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container">

        <div class="row pt-2">
            <div class="col-lg-3">
                <aside class="sidebar" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">

                    <ul class="nav nav-list flex-column mb-4 show-bg-active">
                        <li class="nav-item"><a class="nav-link" data-hash data-hash-offset="110" href="#who-we-are">Ko smo mi</a></li>
                        <li class="nav-item"><a class="nav-link" data-hash data-hash-offset="110" href="#history">Reference</a></li>
                        <li class="nav-item"><a class="nav-link" data-hash data-hash-offset="110" href="#mission-vision">Vizija, Cilj i zašto odabrati nas?</a></li>
                    </ul>

                </aside>
            </div>
            <div class="col-lg-9">

                <section id="who-we-are" class="mb-4">
                    <div class="nivo-slider mt-3 pb-4">
                        <div class="slider-wrapper theme-default">
                            <div id="nivoSlider" class="nivoSlider mt-0 mb-4">
                                <img src="~/Content/images/about-sl1.jpg" data-thumb="/Content/images/about-sl1.jpg" alt="" />
                                <img src="~/Content/images/about-sl2.jpg" data-thumb="/Content/images/about-sl2.jpg" alt="" />
                                <img src="~/Content/images/about-sl3.jpg" data-thumb="/Content/images/about-sl3.jpg" alt="" />
                                <img src="~/Content/images/about-sl4.jpg" data-thumb="/Content/images/about-sl4.jpg" alt="" />
                            </div>
                            <div id="htmlcaption" class="nivo-html-caption"></div>
                        </div>
                    </div>

                    <h2 class="mb-0 text-color-dark">Ko smo mi</h2>
                    <p class="lead mb-4 mt-4">
                        Mi smo kvalitetan, profesionalan i odvažan tim koji se ne boji izazova. Spremni smo da brzo i
                        efikasno odgovorimo na zahtjeve koji se svakodnevno postavljaju pred izvođače radova a ogledaju se u novim potrebama tržišta. Osnovnu djelatnost firme predstavlja uvođenje instalacija vodovoda, kanalizacije, centralnog grijanja i klimatizacije.
                    </p>
                    <p class="lead mb-4 mt-4">
                        Od samog osnivanja 2014. godine naš rad zasniva se na zapošljavanju stručnog, kvalitetnog,
                        edukovanog i mladog kadra. Shodno tome, potpisnici smo i projekta sa Gradom Srebrenik o
                        sufinansiranju pri zapošljavanju mladih i perspektivnih ljudi.
                    </p>
                    <p class="lead mb-4 mt-4">
                        Odgovornost, timski rad, pozitivna radna atmosfera, kao i evropski standardi upravljanja i
                        funkionisanja su jedan od osnovnih postulata naše kompanije jer smo uvijek okrenuti ka
                        napretku kao i novim inovativnim izazovima.
                    </p>
                </section>

                <hr class="solid my-5">

                <section id="history" class="mb-4">
                    <h2 class="mb-0 text-color-dark">Reference</h2>

                    <div class="row">
                        <div class="col-12">
                            <ul class="list list-unstyled list-primary list-borders">
                                <li class="pt-2 pb-2 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
                                    <strong class="text-color-primary text-4">2020. - Kolektivni centar za stanovanje (Lokacija: Špionica - Srebrenik)</strong>
                                    <br />
                                    Implementacija jednog od najvećih projekata na prostoru Tuzlanskog kantona;
                                </li>
                                <li class="pt-2 pb-2 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="200">
                                    <strong class="text-color-primary text-4">2020. - Stambeno-poslovni objekat "O9" (Lokacija : Slatina - Tuzla)</strong>
                                    <br />
                                    Izgradnja stambeno-poslovnog objekta "O9" u partnerstvu sa kompanijom Tehnograd-company d.o.o.
                                </li>
                                <li class="pt-2 pb-2 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="100">
                                    <strong class="text-color-primary text-4">2018. - Kolektivni centar za stanovanje (Lokacija: Miladije - Tuzla)</strong>
                                    <br />
                                    Implementacija jednog od najvećih projekata na prostoru Tuzlanskog kantona; "
                                </li>
                            </ul>

                            <div class="nivo-slider mt-3 pb-4">
                                <div class="owl-carousel-wrapper work-carousel">
                                    <div class="owl-carousel dots-inside dots-horizontal-center show-dots-hover nav-style-diamond custom-nav-with-transparency nav-inside nav-inside-plus nav-dark nav-md nav-font-size-md show-nav-hover mb-0" data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 1}, '979': {'items': 1}, '1199': {'items': 1}}, 'loop': true, 'autoHeight': false, 'margin': 0, 'dots': true, 'dotsVerticalOffset': '-75px', 'nav': true, 'animateIn': 'fadeIn', 'animateOut': 'fadeOut', 'mouseDrag': true, 'touchDrag': true, 'pullDrag': true, 'autoplay': true, 'autoplayTimeout': 9000, 'autoplayHoverPause': false, 'rewind': false}">
                                        <div>
                                            <img src="~/Content/images/construction/gallery/work1.jpg" data-thumb="/Content/images/construction/gallery/work1.jpg" alt="" />
                                        </div>
                                        <div>
                                            <img src="~/Content/images/construction/gallery/work2.jpg" data-thumb="/Content/images/construction/gallery/work2.jpg" alt="" />
                                        </div>
                                        <div>
                                            <img src="~/Content/images/construction/gallery/work3.jpg" data-thumb="/Content/images/construction/gallery/work3.jpg" alt="" />
                                        </div>
                                        <div>
                                            <img src="~/Content/images/construction/gallery/work4.jpg" data-thumb="/Content/images/construction/gallery/work4.jpg" alt="" />
                                        </div>
                                        <div>
                                            <img src="~/Content/images/construction/gallery/work5.jpg" data-thumb="/Content/images/construction/gallery/work5.jpg" alt="" />
                                        </div>
                                        <div>
                                            <img src="~/Content/images/construction/gallery/work7.jpg" data-thumb="/Content/images/construction/gallery/work7.jpg" alt="" />
                                        </div>
                                        <div>
                                            <img src="~/Content/images/construction/gallery/work8.jpg" data-thumb="/Content/images/construction/gallery/work8.jpg" alt="" />
                                        </div>
                                    </div>
                                    <div id="htmlcaption" class="nivo-html-caption"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <hr class="solid my-5">

                <section id="mission-vision" class="mb-4">

                    <div class="row mt-4">
                        <div class="col-12 text-center">
                            <div class="feature-box feature-box-style-4 justify-content-center mt-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
                                <span class="featured-boxes featured-boxes-style-4 p-0 m-0">
                                    <span class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0">
                                        <span class="box-content p-0 m-0">
                                            <i class="icon-featured icon-eye icons"></i>
                                        </span>
                                    </span>
                                </span>
                                <div class="feature-box-info">
                                    <h2 class="mb-3 text-color-dark">Vizija</h2>
                                    <p class="mb-4">
                                        Naša vizija je da budemo kompanija koja konstantno postavlja više standarde kako u oblasti poslovanja, trgovine i investicija, tako i u oblasti življenja i koja, ne samo da uvodi navike i trendove, nego ih i predviđa i kreira.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <div class="feature-box feature-box-style-4 justify-content-center mt-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
                                <span class="featured-boxes featured-boxes-style-4 p-0 m-0">
                                    <span class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0">
                                        <span class="box-content p-0 m-0">
                                            <i class="icon-featured icon-target icons"></i>
                                        </span>
                                    </span>
                                </span>
                                <div class="feature-box-info">
                                    <h2 class="mb-3 text-color-dark">Cilj</h2>
                                    <p class="mb-4">Unaprijediti rad i odnos, stvoriti pogodno tlo za ulaganje stranih investitora, ali i proširiti lične vidike firme ka EU tržištu.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <div class="feature-box feature-box-style-4 justify-content-center mt-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
                                <span class="featured-boxes featured-boxes-style-4 p-0 m-0">
                                    <span class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0">
                                        <span class="box-content p-0 m-0">
                                            <i class="icon-featured icon-puzzle icons"></i>
                                        </span>
                                    </span>
                                </span>
                                <div class="feature-box-info">
                                    <h2 class="mb-3 text-color-dark">Zašto odabrati nas?</h2>
                                    <p class="mb-4">Prilikom izvođenja radova naglasak stavljamo na profesionalnost, kvalitetu i sigurnost te jedinstveni doprinos svih zaposlenih u realizaciji zadanih projekata. Imamo sve ono što je potrebno za besprijekorno izvršavanje svih vrsta projekata; od najjednostavnijih do najsloženijih. Kvalitetne mašine i alati, te stručni radnici ključ su za ostvarivanje vrhunskih rezultata!</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </div>

        </div>

    </div>
</div>

@section scripts{
    <script>
        $('.dates-carousel').owlCarousel({
            items: 2,
            loop: false,
            nav: true,
            dots: false
        });
        $('.day-picker').on('click', function () {
            $('.day-picker').removeClass('selected-day');
            $(this).addClass('selected-day');
        })
        function givemevalue() {
            var selectedDate = $('.day-picker.selected-day').attr('data-date');
            alert(selectedDate);
        }
    </script>
}