<footer id="footer">
    <div class="container">
        <div class="row pt-4 pb-5 text-center text-md-left">
            <div class="col-md-3">
                <a href="/">
                    <img alt="Baumax DOO Srebrenik" class="img-fluid logo" width="110"
                         src="/Content/images/construction/logo.png">
                </a>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-lg-6 mb-2">
                        <h4>Menu</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 mb-0">
                        <ul class="list list-footer-nav">
                            <li>
                                <a href="/">
                                    Početna
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "About")">
                                    O nama
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list list-footer-nav">
                            <li>
                                <a href="@Url.Action("Index", "Services")">
                                    Usluge
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Contact")">
                                    Kontakt
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <h4>Kontakt informacije</h4>
                <p>
                    <i class="fas fa-phone"></i> +387 63 283 721
                </p>
                <p>
                    <i class="fas fa-phone"></i> +387 60 33 59 356
                </p>
                <p>
                    <i class="fas fa-map-pin"></i> Ul. 21 Srebreničke brigade bb, Srebrenik 75350
                </p>

            </div>
        </div>

        <div class="footer-copyright">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Powered by <a href="http://alphacode.ba/" target="_blank">Alphacode</a> & <a href="https://www.struix.co" target="_blank">Struix</a></p>
                </div>
            </div>
        </div>

    </div>
</footer>